<!-- header starts -->
<div class="header">
  <div class="header__left">
    <a href="/posts"><img src="images/acebook_logo.svg" alt="" /></a>
    <div class="header__input">
      <span class="material-icons"> search </span>
      <input type="text" placeholder="Search Acebook" />
    </div>
  </div>

  <div class="header__middle">
    <div class="header__option active">
      <a href="/posts"><span class="material-icons"> home </span></a>
    </div>
  </div>
  <div class="header__right">
    <div class="header__info">
      <img class="user__avatar" src="images/img/Makers.png"  alt="" />
      <h4><a href="/profile">Welcome {{firstName}}</a></h4>
    </div>

    <span class="material-icons">
      <form action='/sessions?_method=DELETE' method='POST'>
          <button id="logout" type="submit"><span class="material-icons">logout</span></button>
        </form>
    </span>
  </div>
</div>
<div class="post">
  <div class="profile_img_edit">
  <img id="profile_pic" src="data:;base64, {{profilePic.data}}" alt=""/>
  </div>

<div class="homepage-outermost">
<div class="container">
  <form id="update-user" action="/profile/edit" method="post" enctype="multipart/form-data">
    <h3>Email</h3>
    <p>Current: {{email}}<p>
    <input id="email" type="email" name="email" value="">
    <br>
    <h3>Password</h3>
    <p>Current: {{password}}<p>
    <input id="password" type="password" name="password" value="">
    <br>
    <h3>First Name</h3>
    <p>Current: {{firstName}}<p>
    <input id="firstName" type="firstName" name="firstName" value="">
    <br>
    <h3>Last Name</h3>
    <p>Current: {{lastName}}<p>
    <input id="lastName" type="lastName" name="lastName" value="">
    <br>
    <h3>Profile Pic</h3>
    <p>Upload new profile pic here:</p>
    <input type="file" name="image" accept="image/*"><br>
    {{!-- <input id="profilePic" type="profilePic" name="profilePic" value=""> --}}
    <br>
    <input id="submit" type="submit" value="Submit">
  </form>
</div>
</div>

