<h1 class="pt-5">All friends</h1>

IF GREATER THAN 0
<h2>Pending friends of {{ name }} </h2>
<div id="selected_user">
  {{#each pending_friends}}
  PICTURE
  {{this.name}}
  <form action="/users/acceptfriend/{{this._id}}" method="post">
    <label for="button">Accept Friend</label>
    <button type="submit" name="friendAccId" value="{{this._id}}">Accept</button>
  </form>
  <br>
  <form action="/users/rejectfriend/{{this._id}}" method="post">
    <label for="button">Reject Friend</label>
    <button type="submit" name="friendRejId" value="{{this._id}}">Reject</button>
  </form>
  <br>
  {{/each}}
<div>
<h2>Confirmed friends of {{ name }} </h2>
<div id="selected_user">
  {{#each friends}}
  <img src=/uploads/images/{{this.image}} style="height:60px; width:60px;">
  {{this.name}}
  <form action="/users/deletefriend/{{this._id}}" method="post">
    <label for="button">Delete Friend</label>
    <button type="submit" name="friendDelId" value="{{this._id}}">Delete</button>
  </form>
  <br>
  {{/each}}
<div>
<a class="view-profile-link" href="/profile">Profile</a>