<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acebook</title>
  </head>
  <body>
    <div class="row justify-content-start">
      <div class="col-4">
        <h1>{{session.user.firstName}}'s Profile</h1>
        
          <p>Full name:</p>
          <p class="text-dark">{{session.user.firstName}}
            {{session.user.surName}}</p>
        
          <p>Email:</p>
          <p class="text-dark">{{session.user.email}}</p>
        
          <p>Bio:</p>
          <p class="text-dark">{{session.user.bio}}</p>
        
          <p>Location:</p>
          <p class="text-dark">{{session.user.location}}</p>
        
          <form action='/profile/editProfile' method='get'>
              <input class="btn btn-primary" type="submit" value="Edit Profile">
          </form>

      </div>
      <div class="col-4">
        <img
          width="300"
          height="300"
          src="/images/profilepic.webp"
          class="img-thumbnail border border-2 border-dark"
          alt="Your Profile Picture"
        />
      </div>
    </div>
  </body>
</html>
