<h1>Name</h1>
<a href="../posts">Timeline</a>
<form action="/sessions?_method=DELETE" method="POST">
  <input type="submit" value="Log Out" />
</form>

<div>
  <p>Friends</p>
  <ul class="users">
    {{#each friends_names}}
      <form action="/profile/remove-friend" method="POST">
        <input type="hidden" name="friendEmail" value="{{this.email}}">
        <li>{{this.firstName}} {{this.lastName}}<button type="submit">Remove Friend</button></li>
      </form>
    {{/each}}
  </ul>
</div>

<div>
  <p>Users</p>
  <ul class="users">
    {{#each nonFriends}}
      <form action="/profile/add-friend" method="POST">
        <input type="hidden" name="friendEmail" value="{{this.email}}">
        <li>{{this.firstName}} {{this.lastName}}<button type="submit">Add Friend</button></li>
      </form>
    {{/each}}
  </ul>
</div>