<h1>All About {{name}} </h1>
<img src=/uploads/images/{{this.image}} style="height:60px; width:60px;">

 {{> profile}}

<div class="friends">
  {{#if self}}
  <h2>My friends</h2>
  {{else}}
  <h2>{{name}}'s friends</h2>
  {{/if}}
  <ul>
  {{#each friends}}
    <li>
      <img src=/uploads/images/{{this.image}} style="height:60px; width:60px;">
      {{this.name}}
    </li>
  {{/each}}
  </ul>
  <a href="/profile/friendlist">View all friends</a>
</div>
<div class="posts" >
  {{#each posts}}
  <div><br>
  {{this.message}}  <br>   
   {{#if this.imagePath}}
  <img height="200" src="{{this.imagePath}}"> <br> 
   {{/if}}
  <div id="createdAt">{{this.postedAt}}</div> <br> 
  <form action="/posts/like/{{this._id}}" method="post" id = "like_{{this._id}}">
    <input type="hidden" name="prevRoute" value="profile">
    <button id="like" name="postId" value="{{this._id}}">Like</button>
  </form> 
  <div id="likecount">{{this.likes}}</div> 
  </div>
  <br>
  {{> comments}}
  {{/each}}
</div>
