<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acebook</title>
  </head>
  <body>
    <div class="row justify-content-start">
      <div class="col-4">
        <h1>{{user.firstName}}'s Profile</h1>
          
          
          <p id="email" class="text-dark">{{user.email}}</p>
          <br>
          <p>Title:</p>
          <p id="title" class="text-dark">{{user.title}}</p>

          <p>Full name:</p>
          <p id="fullName" class="text-dark">{{user.firstName}}
            {{user.surName}}</p>

          <p>Pronouns:</p>
          <p id="pronouns" class="text-dark">{{user.pronouns}}</p>

          <p>Bio:</p>
          <p id="bio" class="text-dark">{{user.bio}}</p>
        
          <p>Location:</p>
          <p id="location" class="text-dark">{{user.location}}</p>
        
          <form action='/profile/editProfile' method='get'>
              <input class="btn btn-primary" type="submit" value="Edit Profile">
          </form>

      </div>
      <div class="col-4">
        <img
          width="300"
          height="300"
          src="/images/profilepic.webp"
          class="img-thumbnail border border-2 border-dark"
          alt="Your Profile Picture"
        />
      </div>
    </div>
  </body>
</html>
