<link rel='stylesheet' href='/stylesheets/profile.css' />

<h1 class="title">{{title}}</h1>

<a class="posts-link" href="/posts">Home</a>


<body>
  <ul class="profile">

    <section>
      {{user.name}}
    </section>

    <section>
      {{user.Gender}}
    </section>

    <section>
      {{user.About}}
    </section>
  </ul>



  <div class="fixed">
    {{user.Birthday}}
  </div>

  </body>


  <a class="edit" href="/profile/edit">Edit</a>

<h1>Posts</h1>

<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>
