<h1>Current User {{ name }} </h1>

IF GREATER THAN 0 DO THIS
<h2>Awaiting Approval</h2>
<div id="selected_user">
  {{#each awaiting_approval}}
  {{this.name}}
  <br>
  {{/each}}
<div>

<h2>Suggested Friends</h2>
<div id="selected_user">
  {{#each users}}
  <form action="/users/addfriend/{{this._id}}" method="post">
    <label for="button">Friend Request</label>
    <button type="submit" class="list-user-item list-user-item-action" name="friendReqId" value="{{this._id}}">{{this.name}}</button>
  </form>

  </div> 
  <br>
  {{/each}}
<div>


<a class="view-profile-link" href="/profile">Profile</a>