<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posts">Acebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/posts">Home</a>
        <a class="nav-link active" href="#">{{user.username}}</a>
        <a class="nav-link" href="#">Search</a>
        <form action="/sessions?_method=DELETE" method="POST">
         <input class="sign-out-nav nav-link" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
  </div>
</nav>

<h1 class="fullname">{{user.firstName}} {{user.lastName}}</h1>
<div class="image">
<img src={{user.profilePic}}
  style="width:100px" />
</div>

<div class="user-information-container">
  <h2>Personal Information</h2>
  <a href="/profile/user/{{user.username}}/editInfo">Edit</a>
  <p class="username">Username: {{user.username}}</p>
  <p class="location">Location: {{user.location}}</p>
  <p class="birthday">Date of Birth: {{birthday}}</p>
</div>


<ul class="posts">
  {{#each posts}}
    {{this.timestamp}}
    <br />
    {{this.message}}
    <br />
    {{#if this.likes}}
    <div class="likes">Likes: {{this.likes.length}}</div>
    {{/if}}
    <br />
  {{/each}}
</ul>