<div class="container">
  <div class="row">
    <div class="col">
      <form id="new-comment-form" action="/comment/create" method="post">
        <div class="mb-3">
          <label for="comment" class="form-label">Comment:</label>
          <textarea class="form-control" id="comment" name="comment" placeholder="Add Comment" rows="4" cols="50"
            type="text"></textarea>
        </div>
        <input type="hidden" name="post_id" value="{{post_id}}">
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>

    <div class="col">
      <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Show comments
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <ul class="comment">
            {{#each comment}}
            <div class="card">
              <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="me-2">
                      <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="" />
                    </div>
                    <div class="ms-2">
                      <div class="h7 text-muted">&nbsp{{this.user.firstName}}</div>
                    </div>
                  </div>
                <div class="text-muted h7 mb-2"> <small>{{this.createdAt}}</small></div>
              </div>
              <div class="card-body">

                <p class="card-text">
                  {{this.comment}}
                </p>
              </div>
              <div class="card-footer">
                <form method="get">
                  <input type="hidden" name="post_id" value={{this._id}}>
                  <button class="card-link btn btn-link" type="submit">Like</button>
                </form>
              </div>
            </div>
            <br />
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>