<ul class="posts">
  {{#each posts}}
  <li>
    {{this.message}}
    <br>
    Posted at: <div id="createdAt">{{this.createdAt}}</div>
    <form id="likeForm" action="/posts/{{this.id}}?like=true" method="post">
      <input type="submit" id="submitLike" value="Like">
    </form>
    <p id="numberOfLikes">{{this.likes.length}}</p>
    <form id="new-comment-form" action="/posts/{{this.id}}" method="post">
     <p id="numberOfComments">comments: {{this.comments.length}}</p>
     Comment: <input id="commentMessage" type="text" name="commentMessage" value="">
    </form>
  </li>

  {{/each}}
</ul>

