<ul class="list-group" id="posts">
  {{#each posts}}
  <li>
    <div>
      <p class="h6" id="postedBy"> 
        <a id="postedByLink" class="link-dark" href="/users/{{this.userObjectId.id}}">{{this.userObjectId.username}}</a>
      </p>
    </div>
    {{this.message}}
    <br>
    Posted at: <div id="createdAt">{{this.createdAt}}</div>
    <form id="likeForm" action="/posts/{{this.id}}?like=true" method="post">
      <input type="submit" id="submitLike" value="Like">
    </form>
    <p id="numberOfLikes">{{this.likes.length}}</p>
    <ul class="comments">
      {{#each comments}}
      <li id="comments">
        {{this.message}}
      </li>
      {{/each}}
    </ul>
      <p id="numberOfComments">Comments: {{this.comments.length}}</p>
      <form id="new-comment-form" action="/posts/{{this.id}}" method="post">
       Leave a comment: <input id="commentMessage" type="text" name="commentMessage" value="">
      <input type="submit" id="submitComment" value="Post Comment" onClick="window.location.reload();">
      </form>
  </li>

  {{/each}}
</ul>

