<ul class="list-group" id="posts">
  {{#each posts}}
  <li>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Name of poster here</h5>
        <p class="card-text">{{this.message}}</p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    Posted at: <div id="createdAt">{{this.createdAt}}</div>
            <form id="likeForm" action="/posts/{{this.id}}?like=true" method="post">
                <input type="submit" id="submitLike" value="Like">
                <p id="numberOfLikes">{{this.likes.length}} </p>
            </form>

    <div class="accordion accordion-flush" id="accordionFlushExample{{this.id}}" style="width: 20rem; display: inline-block;">
      <div class="accordion-item" id="accordian-item{{this.id}}">
        <h2 class="accordion-header" id="heading{{this.id}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{this.id}}" aria-expanded="false" aria-controls="flush-collapseOne{{this.id}}">
                <id="numberOfComments">Comments {{this.comments.length}}
          </button>
        </h2>
        <div id="flush-collapseOne{{this.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample{{this.id}}">
          <div class="accordion-body">    
            <div class="comments">
              {{#each comments}}
              <div id="comments">
                <strong>Name of commenter</strong> {{this.message}}
              </div>
              {{/each}}
            </div>
              <br>
            <form id="new-comment-form" action="/posts/{{this.id}}" method="post">
              <input id="commentMessage" type="text" name="commentMessage" value="" placeholder="Write a comment...">
              <input type="submit" id="submitComment" value="Post" onClick="window.location.reload();">
            </form>
          </div>
        </div>
      </div>
</div> 
      </div>
    </div>
  </li>

  {{/each}}
</ul>

