<ul class="list-group" id="posts">
  {{#each posts}}
  <li>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{this.message}}</p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    <br>
    Posted at: <div id="createdAt">{{this.createdAt}}</div>
    <form id="likeForm" action="/posts/{{this.id}}?like=true" method="post">
      <input type="submit" id="submitLike" value="Like">
    </form>
    <p id="numberOfLikes">Likes {{this.likes.length}} Comments {{this.comments.length}}</p>
    {{!-- <p id="numberOfComments">Comments: {{this.comments.length}}</p> --}}
    <ul class="comments">
      {{#each comments}}
      <li id="comments">
        {{this.message}}
      </li>
      {{/each}}
    </ul>
      <form id="new-comment-form" action="/posts/{{this.id}}" method="post">
       Leave a comment: <input id="commentMessage" type="text" name="commentMessage" value="">
      <input type="submit" id="submitComment" value="Post Comment" onClick="window.location.reload();">
      </form>
      </div>
    </div>
  </li>

  {{/each}}
</ul>

