<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<nav>
<ul>
    {{#if isAuthenticated}}
        <li><a href="/posts">Posts Timeline</a></li>
        <li><a class="new-post-link" href="/posts/new">Create New Post</a></li>
        <li><a href='/users/{{user.username}}'>Profile</a></li> 
        <li><a href="/sessions/logout" >Logout</a></li> 
        <li>Logged in as {{{user.username}}}</li>
    {{else}}
        <li><a href="/sessions/login">Login</a></li>
        <li><a href="/users/signup">Sign-up</a></li>
    {{/if}}
</ul>
</nav>
    {{{body}}}
  </body>
</html>
