<div class="profile-container">
  <h1 id="profile-header">{{profileUsername}}'s profile
    <br />
    <br />
    <div class="full-name-card" id="full-name">
      {{profileFirstname}}
      {{profileLastname}}
    </div>
  </h1>

  {{! when styling, keep the div and pad as desired, whether the button is displayed or not }}
  <div id="friend-button-status-div">
    {{#if displayAddFriendButton}}

      <button id="add-friend-button" onclick="addFriend('{{fetchUrl}}')">
        Add friend</button>

    {{else if isAFriend}}
      <p id="current-friend-message">friends ✔️</p>
    {{/if}}
  </div>

  <ul class="friends-list">
    Friends:
    {{#each friends}}
      <li class="friend-username">{{this}}</li>
    {{/each}}
  </ul>
</div>