<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<div class="profile-container">
      <div class="circular-portrait">
      <img id="myImg" src={{url}} />
    </div>
    <br />
    {{#if ownProfile}}
    <div>
      <form action="/profiles/image" enctype="multipart/form-data" method="POST">
        <input class="picture-text" name="image" type="file" />
        <input type="submit" value="upload" />
       </form>
    </div>
    {{/if}}
  <h1 id="profile-header">{{profileUsername}}'s profile
    <br />
    <br />
    <div class="full-name-card" id="full-name">
      {{profileFirstname}}
      {{profileLastname}}
    </div>
  </h1>

  {{! when styling, keep the div and pad as desired, whether the button is displayed or not }}
  <div id="friend-button-status-div">
    {{#if displayAddFriendButton}}

      <button id="add-friend-button" onclick="addFriend('{{fetchUrl}}')">
        Add friend</button>

    {{else if isAFriend}}
      <p id="current-friend-message">friends ✔️</p>
    {{/if}}
  </div>

  <ul class="friends-list">
    Friends:
    {{#each friends}}
      <li class="friend-username">{{this}}</li>
    {{/each}}
  </ul>
</div>
