  <form id="search-form" action="/friends/search" method="get">
    <input type="text" name="search" id="search" />
    <input id="submit" type="submit" value="Search for a friend!" />
  </form>
<div class="column-container d-flex flex-wrap">
<div class="row row-cols-3">
<div class="col-6 .d-md-flex">
  <h5 class="title">Friend Requests</h5>
  <ul>
    {{#each requestsToMe}}

      <li>
        <form
          id="accept-friend"
          action="/friends/accept/{{this.id}}"
          method="post"
        >
          <input id="submit" type="submit" value="Accept" />
        </form>
        <a href="users/profile/{{this.username}}">{{this.firstName}}
          {{this.lastName}}</a>

      </li>
    {{/each}}
  </ul>
</div>
<div class="col-6 .d-md-flex">
  <h5 class="title">Friend Requests You've Sent</h5>
  <ul>
    {{#each requestsFromMe}}

      <li>
        <a href="users/profile/{{this.username}}">{{this.firstName}}
          {{this.lastName}}</a>
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-12 .d-md-flex">
  <h5 class="title">Friends</h5>
  <ul>
    {{#each friends}}

      <li>
        <form
          id="unfriend"
          action="/friends/unfriend/{{this.id}}"
          method="post"
        >
          <input id="submit" type="submit" value="Unfriend" />
        </form>
        <a href="users/profile/{{this.username}}">{{this.firstName}}
          {{this.lastName}}</a>

      </li>
    {{/each}}
  </ul>
</div>


</div>
</div>