<h1>All About {{name}} Profile {{this.image}} </h1>


<div class="posts" >
  {{#each posts}}
  <div><br>
  {{this.message}}     -      <div id="createdAt">{{this.postedAt}}</div> <br> 
  <form action="/posts/like/{{this._id}}" method="post" id = "like_{{this._id}}">
    <button id="like" name="postId" value="{{this._id}}">Like</button>
  </form> - <div id="likecount">{{this.likes}}</div> 
  </div>
  <br>
  {{> comments}}
  {{/each}}
<div>
<a class="new-post-link" href="/posts/new">New post</a>
<a class="timeline-link" href="/posts">Timeline</a>