<div class="navbar">
  <div class="logo-container">
    <a href="/"><img class="logo" src="./images/acebook_icn_wht.png" alt="LogoIcon"></a>
  </div>
  <div class="link-container">
    <img class="profpic" src="./images/blank_profile.jpg" alt="Avatar">
    <a class="link" href="/user/{{loggedInUser.id}}">Hello, {{loggedInUser.firstName}}!</a>
    <a class="link" href="/user/requests">Friend requests</a>
    <a class="link" href="/user">Users</a>
    <a class="link" href="/user/logout">Log Out</a>
    <a href="/" class="logo"></a>
  </div>
</div>

<div class="body">
  <h1>All users</h1>
  <div class="card-container">
    {{#each checkedUsers }}
      <div class="card">
        <img class="card-profilePic" src="./images/blank_profile.jpg" alt="profile picture">
        <div class="container">
          <a class="card-name" href="/user/{{this.user.id}}"> {{this.user.firstName}} {{this.user.surname}}</a>
          {{#if this.isFriends}}
            <p>You are friends.</p>
          {{else if this.isSelf}}
            <p>This is you!</p>
          {{else }}
            <form action="/user/add" method="POST">
              <input type="hidden" name="userId" value="{{this.user.id}}">
              <input id="submit-button" type="submit" value="Add Friend">
            </form>
          {{/if}}
        </div>
      </div>
    {{/each }}
  </div>
</div>
