<div class="navbar">
  <div class="logo-container">
    <a href="/"><img class="logo" src="/images/acebook_icn_wht.png" alt="LogoIcon"></a>
  </div>
  <div class="link-container">
    <img class="profpic" src="/images/blank_profile.jpg" alt="Avatar">
    <a class="link" href="/user/{{user.id}}">Hello, {{user.firstName}}!</a>
    <a class="link" href="/user/requests">Friend requests</a>
    <a class="link" href="/user">Users</a>
    <a class="link" href="/user/logout">Log Out</a>
    <a href="/" class="logo"></a>
  </div>
</div>

<p> {{user.firstName}} {{user.surname}} - {{friendStatus.status}}</p> 

{{#if isFriends}}
<p>You are friends.</p>
{{else if isSelf}}

{{else }}
<form action="/user/add" method="POST">
    <input type="hidden" name="userId" value="{{user.id}}">
    <input id="submit-button" class="add-friend-{{friendStatus.status}}" type="submit" value="Add Friend">
</form>
{{/if}}

{{#each posts}}
<p>{{message}}</p>
{{/each}}

<script>
    let friendStatus = {{{friendStatus.status}}}

    if (friendStatus === 1) {
        document.querySelector("#submit-button").value = "Friend request pending"
    } else if (friendStatus === 2) {
        document.querySelector("#submit-button").value = "Friends"
    } else {
        document.querySelector("#submit-button").value = "Add as friend"
    }

</script>