<h1> Welcome <%=username%> </h1>

<form id="logout-button" action="/user/signout">
<input type="submit" value="Log out">
</form>

<% trips.forEach((trip) => {%>
  <li><%=trip.destination%> <%=trip.startDate%> <%=trip.endDate%>
    <form id="delete-trip-button" method="post" action="/trips/delete/<%=trip.id%>">
      <input type="submit"  value="Delete this trip">
    </form>
    <form id="view-trip-button" action="/trips/view/<%=trip.id%>">
      <input type="submit"  value="View this trip">
    </form>
  </li>
<%});%>

<form id="create-trip-button" action="/trips/new">
  <input type="submit" value="Create a new trip">
</form>
