<div class="navbar">
  <div class="logo-container">
    <a href="/"><img class="logo" src="/images/acebook_icn_wht.png" alt="LogoIcon"></a>
  </div>
  <div class="link-container">
    <img class="profpic" src="/images/blank_profile.jpg" alt="Avatar">
    <a class="link" href="/user/{{user.id}}">Hello, {{user.firstName}}!</a>
    <a class="link" href="/user/requests">Friend requests</a>
    <a class="link" href="/user">Users</a>
    <a class="link" href="/user/logout">Log Out</a>
    <a href="/" class="logo"></a>
  </div>
</div>

<h1>Friend requests</h1>
{{#if user.friendRequests}}
{{#each user.friendRequests}}
<div class="postCard">
    <a href="/user/{{this.id}}">{{this.firstName}} {{this.surname}}</a>
    <a href="/user/requests/{{this.id}}/accept">Accept</a>
    <a href="/user/requests/{{this.id}}/decline">Decline</a>
</div>
    
{{/each}}
{{/if}}


