<h1 class="title">{{title}}</h1>
<p>Welcome user: {{user}}</p>

<p class="firstName">my first name is: {{firstName}}</p>
<p class="lastName">my last name is: {{lastName}}</p>
<p class="email">my email is: {{email}}</p>
<p class="password">my password is: {{password}}</p>
