<div class="homepage">
<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
</div>

  {{#each user}}
  <li>{{this.username}}</li>
  <p>{{this.email}}</p>
  <p>{{this.password}}</p>
  <p>{{this.createdAt}}</p>
  {{/each}}