<div>
  <h2>Name: {{user.firstName}}</h2>
  <h3>Email: {{user.email}}</h3>
  <img src="data:image/png;base64,{{profileImage}}"  height="150" width="150" alt="Avatar">
</div>

<div id="friends">
  <h2>FRIENDS</h2>
  <ul>
    {{#each friends}}
      <li>{{this.firstName}} - {{this.email}}</li>
    {{/each}}
  </ul>
</div>

<div id="sent">
  <h2>SENT REQUESTS</h2>
  <h4><a href="/addFriends">FIND FRIENDS</a></h4>
  <ul>
    {{#each sent}}
      <li>
        <p>{{this.firstName}} - {{this.email}}</p>
        <form action="/addFriends/cancel" method="post">
          <button
            type="submit"
            name="userId"
            value="{{this._id}}"
          >Cancel</button>
        </form>
      </li>
    {{/each}}
  </ul>
</div>

<div id="received">
  <h2>RECEIVED REQUESTS</h2>
  <ul>
    {{#each received}}
      <li>
        <p>{{this.firstName}} - {{this.email}}</p>
        <form action="/addFriends/accept" method="post">
          <button
            type="submit"
            name="userId"
            value="{{this._id}}"
          >Accept</button>
        </form>
        <form action="/addFriends/decline" method="post">
          <button
            type="submit"
            name="userId"
            value="{{this._id}}"
          >Decline</button>
        </form>
      </li>
    {{/each}}
  </ul>
</div>