<div class="post">
    {{#unless post.currentUser}}
      <form action="/friends" method="post">
        <input type="hidden" name="recipientId" value={{post.user}} />
        <button type="submit" class="btn btn-primary btn-sm float-right" id="submit">Poke</button>
      </form>
    {{/unless}}
  <p class="post-author">{{post.username}} said</p>
  <h3 class="post-message">{{post.message}}</h3>
  <p class="post-date">Posted on {{post.formattedCreatedAt}}</p>
  <div class="actions">

    {{#if post.image}}
      <img src="{{post.image}}" height="300px" width="300px">
    {{/if}}

    {{#if post.user.image}}
      <img src="{{post.user.image}}" class="avatar">
    {{/if}}

    <ul class="post-comment" id="comments-{{post.id}}">
      {{#each post.comments}}
        {{> posts/comment this}}
      {{/each}}
      {{> posts/new_comment post}}
    </ul>
  </div>
</div>

{{> posts/likes post}}

<div class="edit-delete">
    {{#if post.currentUser}}
      <form action="/posts/{{post._id}}/delete" method="POST">
      <a href="/posts/{{post._id}}/edit" class="btn btn-primary" id="submit">Edit</a>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" id="submit" class="btn btn-primary" value="Delete" onclick="return confirm('Are you sure you want to delete this post?')">
      </form><br><br>
    {{/if}}
</div>


<div class="post-container-gap"></div>
