<li class="post-item">
  <div class="post-message">{{post.message}}</div>
  <p class="post-author">Written by {{post.username}} </p>
  <p class="post-date">Posted on {{post.formattedCreatedAt}}</p>
  <div class="actions">
    {{#unless post.currentUser}}
      <form action="/friends" method="post">
        <input type="hidden" name="recipientId" value={{post.user}} />
        <button type="submit" class="befriend-button">Poke</button>
      </form>
    {{/unless}}

    <ul id="comments-{{post.id}}">
      {{#each post.comments}}
        {{> posts/comment this}}
      {{/each}}

      {{> posts/new_comment post}}
      {{> posts/likes post}}
    </ul>
  </div>
</li>
