
<h1>Profile page</h1>

  <br><h3> <font size="+1">  User: {{users.first_name}} {{users.last_name}}</font></h3>
    <h1>Bio: {{users.bio}} </h1>
   <h1>Location: {{users.location}} </h1>
    <h1>Age: {{users.age}} </h1>
  <br><h3>Recent posts:</h3>
  <div class="overflow-auto">
{{#each users.posts}}
  <p class="lead">{{this.message}}</p><p> on {{this.date}}
          <form action="/posts/{{this._id}}/likes" method="post">
        <button id= "like-button" type="submit">likes: {{this.likes.count}}</button>
      </form>
      <br>{{#each this.comments}}
      {{this.message}} Posted by {{this.author_name}} on {{this.date}} </br>
      {{/each}}
  {{!-- lists comments here --}}
  <form id="new-comment-form" action="/posts/{{this._id}}/comment" method="post">
    <label for="message">Comment: </label>
    <input id="message" type="text" name="message" value="">
    <input type="submit" value="Submit">
  </form>
    </div>
    </form>
  {{/each}}