<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="profile-title">
  <h1>{{users.first_name}} {{users.last_name}}</h1> 
  <h1>Profile page</h1>
</div>
<br>

<div class="my-profile">
  <h1 class="info">Bio: {{users.bio}}</h1>  
  <h1 class="info">Location: {{users.location}}</h1>
  <h1 class="info">Age: {{users.age}}</h1>
  <br>
  <h1>Recent posts:</h1>
  {{!-- <div class="overflow-auto"> --}}
    {{#each users.posts}}
    <br>
      <p class="lead">{{this.message}}</p>
      <p class="lead-date"> on {{this.date}}
        <form action="/posts/{{this._id}}/likes" method="post">
          <button id= "like-button" type="submit">likes: {{this.likes.count}}</button>
        </form>
      </p>
      {{!-- lists comments here --}}
      <div class="form">
        <form id="new-comment-form" action="/posts/{{this._id}}/comment" method="post">
          <label for="message">Comment: </label>
          <input id="message" type="text" name="message" value="">
          <input type="submit" value="Submit">
        </form>
      </div>
      <br>
      {{#each this.comments}}
      <br>
      <div class="profile-comment">
        {{this.message}} Posted by {{this.author_name}} on {{this.date}}</br>
      </div>
      {{/each}}
      <br>
  {{/each}}
</div>