<h1 class="title">My Profile page</h1>
<div class="overflow-auto"></div>
  <br><h3> <font size="+1"> <h1 class="name">{{users.first_name}} {{users.last_name}}</h1></font></h3>
  <br><h3>Recent posts:</h3>
{{#each users.posts}}
  <p class="lead">{{this.message}}</p><p> on {{this.date}}
      <form action="/posts/{{this._id}}/likes" method="post">
        <button id= "like-button" type="submit">likes: {{this.likes.count}}</button>
      </form>
      <br>{{#each this.comments}}
      {{this.message}} Posted by {{this.author_name}} on {{this.date}} </br>
      {{/each}}
  {{!-- lists comments here --}}
  <form id="new-comment-form" action="/posts/{{this._id}}/comment" method="post">
    <label for="message">Comment: </label>
    <input id="message" type="text" name="message" value="">
    <input type="submit" value="Submit">
  </form>
    </div>
    </form>
    </div>
    </form>
  {{/each}}