<h1 style="text-align: center">All users</h1>
<div class="all-users">
    {{#each users}}
        <div>
            <img class="profile-pic"  src="/users/photo/{{this._id}}" alt="photo"/>
            <div>
                <a href="/users/profile/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
                {{#if @root.user}}
                    <form action="/users/follow" method="post">
                        <input type="hidden" name="user" value="{{this._id}}">
                        <input type="submit"
                               value="{{#containsId this._id @root.user.following}}Unfollow{{else}}Follow{{/containsId}}">
                    </form>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>