<form action="/users/{{this.user._id}}/request" method="post">
    <input type="submit" value="Send friend request">
</form>

<form id="link-form" action="/users/{{user._id}}/picture" method="post">
  <label for="picture">Link: </label>
  <input id="picture" type="text" name="picture" value="">
  <input type="submit" value="Submit">
</form>

<img src={{user.picture}} />

<p>Your friend requests</p>
<ul class="requests">
  {{#each user.friends}}
    <li>{{this.user_id}}</li>
    <li>{{this.status}}</li>
    <form action="/users/{{this.user_id}}/confirm" method="post">
        <input type="submit" value="Confirm">
    </form>
    <form action="/users/{{this.user_id}}/deny" method="post">
        <input type="submit" value="Deny">
    </form>
  {{/each}}
</ul>