<h1 class="title">Hi {{user.firstName}}! Welcome to your profile</h1> 
<a href="requests" class="friend-requests" > Friend requests </a>
<div class="card">


<form
  id="new-post-form"
  action="/posts"
  enctype="multipart/form-data"
  method="POST"
>
  <input
    id="message"
    type="text"
    name="message"
    placeholder="Make a new post"
  />
  <input id="user" type="hidden" name="user" value={{user._id}} />
  <input class="choose-file-btn" type="file" name="image" />
  <input type="submit" value="Submit" />
</form>

<ul class="posts">

  <div>
    {{#each posts}}
      {{! <li> }}
      <div class="card">

        {{! profile pic }}
        {{!-- <div> --}}
          {{#if this.user.photo.photoExists}}

          <img
            class="img-card"
            src="data:image/png;base64,{{this.user.photo.code}}"
            alt="avatar"
          />

        {{else}}
          <img class="img-card" src="/images/default-pic.png" alt="avatar" />

        {{/if}}
        {{!-- </div> --}}
        {{! message }}
        <h4><b>{{this.user.firstName}} {{this.user.lastName}}</b></h4>
        <div class="message">
          <p>{{this.message}}</p>
        </div>
        {{! if uploading a photo }}
        <div class="photos">
          {{#if this.photo.photoExists}}

            <img
              src="data:image/png;base64,{{this.photo.code}}"
              alt=""
              width="100px"
            />

          {{/if}}
        </div>

        {{! likes section }}
        <div class="likes">
          {{this.likes.length}}
          likes
          {{this.createdAt}}

          <form id="likes-form" action="/posts/{{this._id}}" method="post">

            <input type="submit" value="likes" />
          </form>
          {{#if this.remarks.length}}
            <ul>
              Comments=
            </ul>
            {{#each this.remarks}}
              <ul>
                {{this.content}}
                by
                <a
                  href="users/{{this.user._id}}"
                  class="userLink"
                >{{this.user.firstName}}</a>
              </ul>
              <ul>
                <form
                  id="comment-likes-form"
                  action="/posts/comments/likes/{{this._id}}"
                  method="POST"
                >

                  <input name="commentLikes" type="submit" value="Like" />
                </form>
                {{this.commentLikes.length}}
                likes
              </ul>
            {{/each}}

          {{else}}

            <ul>
              No Comments have been made
            </ul>
          {{/if}}
          <form
            id="new-comment-form"
            action="/posts/comments/{{this._id}}"
            method="post"
          >
            <label for="comments"> comment here</label>
            <input type="text" value="" name="content" />

            <input type="submit" value="Submit" />

          </form>
        </div>
      </div>
    {{/each}}
  </div>
</ul>