<h1>{{user.firstname}}'s Profile </h1>

<img src="{{user.profilePicture}}" alt="No profile picture found" style="height:150px">

<form action="/users/upload" method="post" enctype="multipart/form-data">
<form class="upload-picture-form" action="/users/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="profile-picture" />
  <input type="submit" value="Upload">
</form>

<h2>{{user.firstname}}'s Posts:</h2>

{{#each posts}}
  <div class="posts">

    <div class="post">
      <b class="poster-name">{{this.posterName}}:</b> {{this.message}} - {{this.likes}} Likes
    </div>

    <br>

    <div class="comments">
      {{#each this.comments}}

      <div class="individual-comment">
        <b class="poster-name">{{this.user}}:</b> {{this.comment}} - {{this.datetime}}
        <br>
      </div>

      <br>
      {{/each}}
    </div>

  </div>
  
  <br>
{{/each}}

<a class="new-post-link" href="/posts/new">Add a new post</a>
