<div class="profile-container">
    <h1 id="title" class="title">{{targetUser.firstName}} {{targetUser.lastName}}</h1>
    <img class="profile-pic" src="/users/photo/{{targetUser._id}}" alt="profile picture"/>
    {{#strEq @root.user._id targetUser._id}}
        <button onclick="window.location.href = '/users/profile/edit'">Edit Profile</button>
    {{else}}
        <form action="/users/follow" method="post">
            <input type="hidden" name="user" value="{{targetUser._id}}">
            <input type="submit"
                   value="{{#containsId user._id @root.user.following}}Unfollow{{else}}Follow{{/containsId}}">
        </form>
    {{/strEq}}

    <div class="bio">
        <p> {{targetUser.bio}} </p>
    </div>

</div>