<h1>{{user.firstname}}'s Profile </h1>

<img src="{{user.profilePicture}}" alt="No profile picture found" style="height:150px">

<form action="/users/upload" method="post" enctype="multipart/form-data">
<form class="upload-picture-form" action="/users/upload" method="post" enctype="multipart/form-data">
  <input style="font-family: 'Flamenco', cursive;" type="file" name="profile-picture" />
  <input type="submit" value="Upload">
</form>

<h2>{{user.firstname}}'s Posts:</h2>

<br>
<br>

{{#each posts}}
  <div class="posts">

    <div class="post">
      <img src="{{this.posterPic}}" style="height:40px">
      <b class="poster-name">{{this.posterName}}:</b> 
      <br> <img src="{{this.picture}}" style="height:500px"> <br>
      {{this.message}} ({{this.datetime}}) - {{this.likes}} Likes
    </div>

    <br>

    <div class="comments">
      {{#each this.comments}}

      <div class="individual-comment">
        <b class="poster-name">{{this.user}}:</b> {{this.comment}} ({{this.datetime}})
        <br>
      </div>

      <br>
      {{/each}}
    </div>

  </div>

  <br>
{{/each}}
