<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<body>

  <div class="profile-main">
    <div class="container">
      <div class="avatar-flip">
        <img  class="avatar-flip" src="data:{{photo.contentType}};base64,{{photo.data}}" alt="user-photo" height="150" width="150">
      </div>
      <h2>{{userName}}</h2>
      <h3> Intro </h3>
      <p> 
        Age: {{ age }}
        <br>
        Lives: {{ location }}
        <br>
        Relationship status: {{ relation_status }}
      </p>

    {{!-- <input class="post-submit-button" type="submit" value="Acquaint" required> --}}
    <h3> Posts </h3>
    <div>
      <ul class="post" data-cy="user-posts">
        {{#each posts}}
        <li>
          <p class="frm-textbox-yellow-2">{{this.message}}<br></p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="a-container">
    <h2>Acquaintance Requests</h2>
    <ul class="requests">
      {{#each requests}}
      <li class="list-a">
        {{!-- This picture isn't rendering --}}
        {{!-- <img class="picture-tag" src="data:{{this.photo.contentType}};base64,{{this.photo.data}}" alt="user-photo"> --}}
        {{this.userName}} has requested your acquaintance.
        <div class="parent-a-container">
          <form class="friend-approval" action="/friends/approval" method="post">
            <input type="hidden" name="userID" value="{{this._id}}">
            <input class="accept-button" type="submit" value="Accept">
          </form>
          <form class="friend-reject" action="/friends/reject" method="post">
            <input type="hidden" name="userID" value="{{this._id}}">
            <input class="reject-button" type="submit" value="Reject">
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="container">
    <h2>Acquaintances</h2>
    <ul class="aquaintances">
      {{#each friends}}
        <li>
          {{!-- This picture isn't rendering --}}
          {{!-- <img class="picture-tag" src="data:{{this.photo.contentType}};base64,{{this.photo.data}}" alt="user-photo"> --}}
          {{this.userName}}
        </li>
      {{/each}}
    </ul>
  </div>
  </div>

</body>
</html>
