<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>Profile</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/posts">
        <img src="https://res.cloudinary.com/diw18eqtr/image/upload/v1619622224/output-onlinepngtools_3_d4ga5r.png"
          width="100" height="35" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/users/{{user.id}}"> {{user.username}} </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="/posts">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/users/{{user.id}}/edit">Profile Settings</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <form id="log-out-form" action="/users/logout" method="post">
              <button class="btn btn-outline-secondary" value="Log Out">Log out</button>
            </form>
          </li>
        </ul>
        <form class="d-flex" id="search-post-form" action='/posts/search' method='get'>
          <input type="text" name="search" name="search" />
          <input class="btn btn-outline-success" placeholder="Search" type="submit" value="Search"></input>
        </form>
      </div>
    </div>
  </nav>

  <div id="split" class="container overflow-hidden">
    <div class="row gx-5">
      <div class="col-4">
        <div class="p-3 border bg-light">
          <h1> Profile </h1>
          <div class="text-center">
            <img src={{user.profilePicture}} alt="...">
          </div>
          <h4 class="username">{{user.username}}</h4>
          <p class="bio">{{user.bio}} </p>
          <a href="/users/{{user.id}}/edit"> Edit Profile </a>
          <div class="text-center">
            <h5> Followers:</h5>
            <p>
              12,046
            </p>
            <h5> Following:</h5>
            <p>
              476
            </p>
          </div>
        </div>

      </div>
      <div class="col-8">

        <div class="p-3 border bg-light">
          <h1> My Posts </h1>
          <div class="posts">
            <ul class="list-group list-group-flush">
              {{#each userPosts}}

              <div class="container-fluid">
                <li class="list-group-item">
                  <p id="post-msg">
                    {{this.message}}
                  </p>
                  <div>
                    {{#each images}}
                    <img src="{{this.url}}" alt="image" class="class img-fluid" width="200" height="200" ;>
                    {{/each}}
                  </div>
                  <p id="post-auth">
                    {{#each this.author}}
                    Posted by <a href="/users/:id">{{this.username}}</a>
                    {{/each}}
                    on {{dateFormat this.createdAt "HH:MM, DD/MM/YYYY"}}
                    {{#if updatedAt}}
                  <p>
                    Updated on {{dateFormat this.updatedAt "HH:MM, DD/MM/YYYY"}}
                  </p>
                  {{/if}}


                  <p>
                  <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <form action='/posts/{{this.id}}/delete' method='post'>
                      <input class="btn btn-outline-secondary" type='submit' value='Delete'>
                    </form>
                  </div>
                  <div class="btn-group" role="group" aria-label="...">
                    <form action='/posts/{{this.id}}/edit' method='get'>
                      <input class="btn btn-outline-secondary" type='submit' value='Edit'>
                    </form>
                  </div>
                  </p>





                  <div class="card" id="collapseExample">
                    <div class="card card-body">
                      <h5> Comments Section </h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item" id='comments'>
                          {{#each this.comments}}
                          <p>{{this.comment}}</p>
                          Posted by
                          {{#each this.author}}
                          <a href="/users/:id">{{this.username}}</a>
                          {{/each}}
                          <form method="post" action="/posts/{{this.id}}/delete-comment"><input type="submit"
                              value="Delete">
                          </form>
                          {{/each}}
                        </li>

                      </ul>
                    </div>
                  </div>
                </li>
              </div>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  </div>

  <footer>
    <div id="footersubdiv">
      <div id="license">
        <p> Dream Team | 2021 ltd</p>
      </div>
    </div>
  </footer>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>
<style>
  #title {
    padding-top: 50px;
    text-align: center;
  }

  #post-msg {
    font-size: 30px;
  }

  #split {
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }

  footer {
    bottom: 0;

    padding: 25px;
    width: 100%;
  }

  #license {
    text-align: center;
  }

  label {
    font-size: 25px;
  }

  .text-center {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .text-center img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
</style>