<head>
</head>
<body>
<h1 class="page-header">{{pageHeader}}</h1>
<h2>Hello, {{user.firstName}}</h2>
<div>
  <ul>
    <li>First name: {{user.firstName}}</li>
    <li>Surname: {{user.surname}}</li>
    <li>E-mail: {{user.email}}</li>
  </ul>
</div>
</body>