
<div class="profile-header">
  <img id="profile-page-pic" src="/users/{{user.username}}/profilepicture" alt="">

  <div id="profile-page-intro">
    <div class="profile-names">
      <h3 id="profile-page-username"> {{user.username}}</h3>
    </div>
    <div id="friend-detail">
      <p id="friends-number">{{ friends.length }} {{#if (eq friends.length 1) }}friend{{else}}friends{{/if}}</p>
      <div id="friends-button">
        {{#if (neq me.username user.username)}}
          <form action="/users/befriend/{{ user.username }}?return_to={{ user.username }}" method="post">
            <input type="submit" class="{{#contains me._id user.friends }}unfriendBtn{{else}}friendBtn{{/contains}}" value="{{#contains me._id user.friends }}Unfriend :({{else}}Add Bestie :){{/contains}}"></input>
          </form>
        {{/if}}
      </div>
    </div>
  </div>

</div>

<div class="profile-body">
  <div id="profile-body-left">
    <div id="profile-buttons">
        <h3 id="profile-bio-title">About Me</h3>
        <p id="bio">{{ user.bio }}</p>
     {{#if (eq user.username me.username)}}
      <div class="bioUpdate">
        <form action="/users/edit_bio/{{user.username}}" method="get">
          <input type="submit" value="Update bio">
        </form>
      </div>
      <div class="profilePicUpdate">
        <button type="button">Update profile pic</button>
      </div>
      <div class="editUserAccount">
        <form action="/users/edit/{{user.username}}" method="get">
        <input type="submit" value="Update Account Details">
        </form>
      </div>
     {{/if}}
    </div>

    <div class="photo-grid">
      <a href=""><h3>Photos Grid</h3></a>
      <div class="content">
        <div class="row">
			{{#each photos}}
				<div class="col"><a target="_blank" href="/posts/comment?id={{ this._id }}"><img src="/upload/{{ this.photo }}" width="100%" /></a></div>
			{{/each}}
        </div>
      </div>
    </div>

    <div id="friends-list">
      <ul>
        {{#each friends}}
          <a href="/users/profile/{{ this.username }}"><li>{{this.username}}</li></a>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="profile-body-right">
    <div class="posts">
      <h3 id="prof-posts-title">POSTS</h3>

      <div class="profile-all-posts">
        {{#each posts}}
          <li class="single-post" id="{{this._id}}">

            <div class="-profile-col1-author-details">
              <img id="profile-picture" src="/users/{{ this.author }}/profilepicture" alt="">
              <div id="post-details">
                <a href="/users/profile/{{ this.author }}"><p id="post-author">{{ this.author }}</p></a>
                <p id="post-timestamp">{{idtotime this._id}}</p>
              </div>
            </div>

            {{#if (eq @root.user.username user.username)}}
              <div class="profile-col2-user-buttons">
                <form action="/posts/delete/{{this._id}}" method="post">
                  <input class="button" type="submit" value="Delete">
                </form>
                <form action="/posts/edit/{{this._id}}" method="get">
                  <input class="button" type="submit" value="Edit">
                </form>
              </div>
            {{/if}}

            <div class="post-body">
              {{#if this.message}}
              <p id="message-content">{{this.message}}</p>
                {{/if}}
                {{#if this.photo}} <!-- display a photo is upload/none if not -->
                  <img class="prof-post-image" src="/upload/{{this.photo}}" />
                {{/if}}
            </div>

            <div>
              {{#if (eq this.likers.length 0)}}
                <p class="like-count">Be the first to like this post!</p>
              {{else if  (gt this.likers.length 1)}}
                <p class="like-count">Liked by {{this.likers.length}} people</p>
              {{else if (eq this.likers.length 1)}}
                <p class="like-count">Liked by {{this.likers.length}} person</p>
              {{/if}}
            </div>
            <br>
            <br>
            <hr>
            <div id="prof-interaction-buttons">
              <form action="/posts/liked" method="post">
                <input id="id" type="hidden" name="id" value="{{this._id}}">
                <input type="submit" id="like-button" name="likeBtn" class="submit {{#contains @root.user._id this.likers }}prof-unlikeBtn{{else}}prof-likeBtn{{/contains}}" value="{{#contains @root.user._id this.likers }}UNLIKE{{else}}LIKE{{/contains}}">
              </form>
              <form action="/posts/comment" method="get">
                <input id="id" type="hidden" name="id" value="{{this._id}}">
                <input class="btn" id="prof-comment-button" type="submit" value="{{#if (eq commenters.length 1)}}{{ commenters.length }} COMMENT{{else}}{{ commenters.length }} COMMENTS{{/if}}">
              </form>
            </div>
            <br/><hr>
          </li>
        {{/each}}
    </div>
  </div>
</div>




