
<div class="profile-header">
  <img id="profile-page-pic" src="/users/{{user.username}}/profilepicture" alt="">

  <div id="profile-page-intro">
    <div class="profile-names">
      <h3 id="profile-page-username"> {{user.username}}</h3>
    </div>
    <div id="friend-detail">
      <p id="friends-number">{{ friends.length }} {{#if (eq friends.length 1) }}friend{{else}}friends{{/if}}</p>
      <div id="friends-button">
        {{#if (neq me.username user.username)}}
          <form action="/users/befriend/{{ user.username }}?return_to={{ user.username }}" method="post">
            <input type="submit" class="{{#contains me._id user.friends }}unfriendBtn{{else}}friendBtn{{/contains}}" value="{{#contains me._id user.friends }}Unfriend :({{else}}Add Bestie :){{/contains}}"></input>
          </form>
        {{/if}}
      </div>
    </div>
  </div>

</div>

<div class="profile-middle">
  <h3 id="profile-bio-title">About Me</h3>
  <p id="bio">bio: Learning how to clone FB</p>
</div>


<div class="profile-body">

  <div id="profile-body-left">
    <div id="profile-buttons">
      <div class="bioUpdate">
        <button type="button">Update bio</button>
      </div>
      <div class="profilePicUpdate">
        <button type="button">Update profile pic</button>
      </div>
      <div class="editUserAccount">
        <form action="/users/edit/{{user.username}}" method="get">
        <input type="submit" value="Update Account Details">
        </form>
      </div>
    </div>

    <div class="photo-grid">
      <a href=""><h3>Photos Grid</h3></a>
      <div class="content">
        <div class="row">
          <div class="col"><a href="#"><img src="" width="100%" /></a></div>
          <div class="col"><a href="#"><img src="" width="100%" /></a></div>
          <div class="col"><a href="#"><img src="" width="100%" /></a></div>
        </div>
      </div>
    </div>

    <div id="friends-list"
      <ul>
        {{#each friends}}
          <a href="/users/profile/{{ this.username }}"><li>{{this.username}}</li></a>
        {{/each}}
      </ul>
    </div>
  </div>
   
  <div class="profile-body-right">
    <div class="posts">
      <h3>Posts</h3>
    </div>
  </div>
</div>




