<h1> {{profile.first_name}} {{profile.last_name}}</h1> <br>
Date of Birth: {{formatDob profile.dob}} <br>

{{#if profile.gender}} 
Gender: {{profile.gender}} <br>
{{/if}}

{{#if profile.home_town}} 
Home town: {{profile.home_town}} <br>
{{/if}}

{{#if profile.bio}} 
Bio: {{profile.bio}} <br>
{{/if}}

{{#if (ifEqual user.email profile.email)}} 
<form action ='/users/{{user.email}}/edit'>
  <button class ='editprofile' type = 'submit'>Edit Profile</button>
</form>
{{/if}}