<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h1 data-cy="greeting">{{userName}}</h1><br>
  <div>
    <h2>Posts</h2>
    <ul class="post" data-cy="user-posts">
      {{#each posts}}
      <li>
        {{this.message}}
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <h2>Aquaintance Requests</h2>
    <ul class="requests">
      {{#each requests}}
      <li>
        <img class="picture-tag" src="data:{{this.photo.contentType}};base64,{{this.photo.data}}" alt="user-photo">
        {{this.userName}} has requested your aquaintance.
        <form class="friend-approval" action="/friends/approval" method="post">
          <input type="hidden" name="userID" value="{{this._id}}">
          <input class="accept-button" type="submit" value="Accept">
        </form>
        <form class="friend-reject" action="/friends/reject" method="post">
          <input type="hidden" name="userID" value="{{this._id}}">
          <input class="refject-button" type="submit" value="Reject">
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <h2>Aquaintances</h2>
    <ul class="aquaintances">
      {{#each friends}}
        <li>
          <img class="picture-tag" src="data:{{this.photo.contentType}};base64,{{this.photo.data}}" alt="user-photo">
          {{this.userName}}
        </li>
      {{/each}}
    </ul>
  </div>
</body>
</html>
