<div class="card">
    <div class="profile-title"><h1> {{profile.first_name}} {{profile.last_name}}</h1></div>
    <div class="profile-headings"> Date of Birth: </div>
    <div class="profile-details">{{formatDob profile.dob}}</div>

    {{#if profile.gender}} 
    <div class="profile-headings"> Gender:</div><br>
    <div class="profile-details">{{profile.gender}} </div>
    {{/if}}

    {{#if profile.home_town}} 
    <div class="profile-headings"> Home town: </div><br>
    <div class="profile-details">{{profile.home_town}} </div>
    {{/if}}

    {{#if profile.bio}} 
    <div class="profile-headings"> Bio: </div><br>
    <div class="profile-details">{{profile.bio}} </div>
    {{/if}}

    {{#if (ifEqual user.email profile.email)}} 
    <form action ='/users/{{user.email}}/edit'>
    <button class ='editprofile' type = 'submit'>Edit Profile</button>
    </form>
    {{else}}
    <br><br>
    {{/if}}
</div>