{{this.user}}
<h1> {{this.user.first_name}} {{this.user.last_name}}</h1>


<p> Date of Birth: {{this.user.dob}}
    Gender: {{this.user.gender}}
    Home town: {{this.user.home_town}}
    Bio: {{this.user.bio}}
</p>
