<h1 class="title">Profile Page</h1>

<form id="search-form" action="/users/search" method="get">
  <input type="text" name="search" id="search" />
  <input id="submit" type="submit" value="Search" />
</form>
<ul class="user_profile">
  <li id="first-name">{{user.firstName}}</li>
  <li id="last-name">{{user.lastName}}</li>
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<div>
  <h2 class="title">Friend Requests</h2>
  <ul>
    {{#each requests}}

      <li>
        <form
          id="accept-friend"
          action="/friends/accept/{{this.id}}"
          method="post"
        >
          <input id="submit" type="submit" value="Accept" />
        </form>
        {{this.firstName}}

        {{this.lastName}}

      </li>
    {{/each}}
  </ul>
</div>

<div>
  <h2 class="title">Friends</h2>
  <ul>
    {{#each friends}}

      <li>
        <form id="unfriend" action="/friends/accept/{{this.id}}" method="post">
          <input id="submit" type="submit" value="Unfriend" />
        </form>
        {{this.firstName}}

        {{this.lastName}}

      </li>
    {{/each}}
  </ul>
</div>