<br>
<br>

<div class="user-card">
<img src="/images/user.jpg" width="100px"><br>
Username: {{user.username}}<br>
Email: {{user.email}}<br>
Full name: {{user.firstName}} {{user.lastName}}<br>

You have {{user.friends.length}} friends 

</div>