<div class="body_not_navbar">

<h1> {{user.username}}'s Profile Page</h1>
{{#if notFriends}}
  <form action="/users/profile/{{user._id}}/add" method="post">
      <input type="submit" value="Add friend" />
  </form>
{{/if}}
{{#if areFriends}}
  <form action="/users/{{user._id}}/rejectRequest" method="post">
      <input type="submit" value="Remove friend" />
  </form>
{{/if}}
{{#if pendingFriend}}
 <p>Friend request pending...</p>
{{/if}}
{{#if requestedFriend}}
  <form action="/users/{{user._id}}/acceptRequest" method="post">
      <input type="submit" value="Accept friend" />
  </form>
{{/if}}
<br />


  {{#each friendsWhoAccepted}}
    <div class="friends"><img class="friend-profile-pic" src="/{{this.recipient.profilepic}}">{{this.recipient.username}} </div> <br >
  {{/each}}
  {{#each acceptedFriends}}
    <div class="friends"><img class="friend-profile-pic" src="/{{this.requester.profilepic}}"> {{this.requester.username}}</div> <br >
  {{/each}}
{{#each posts}}
<br>
<div class="card text-center w-75">
  <div class="card-header">
    <h5>USER: <a href="/users/profile/{{this.user._id}}">{{this.username}}</a></h5>
  </div>
  <div class="card-body">
    <p class="card-title"><b>Message:</b> {{this.message}} </p>
    <p class="card-title"><b>Likes:</b> {{this.likes}} </p>
    <form action="/posts/{{this._id}}/like" method="post"><button type="submit">Like!</button></form>
      {{!-- <p class="card-text">Comment</p> --}}
    </div>
    <p class="card-title"><a class="comments card-title" href="/posts/{{this._id}}">x comments</a></p>
    {{!-- <p class="card-text">Comment</p> --}}
  </div>

{{/each}}
</div>

