{{#if user.requests}}
<h1 class="title">Hi {{user.firstName}}! These are your pending friend requests</h1>
<ul>
{{#each user.requests}}
<a href="/users/{{this._id}}" class='userLink' >{{this.firstName}} {{this.lastName}}</a>
<form id="confirm-request" action="/users/requests" method="POST">
<input name="id" type="hidden" value="{{this._id}}"/>
<input name="confirm" type="submit" value="Confirm"/>
</form>
<form id="reject-request" action="/users/requests" method="POST">
<input name="id" type="hidden" value="{{this._id}}"/>
<input name="confirm" type="submit" value="Reject">
</>
</form>
</ul>
{{/each}}
{{else}}
<h1 class="title">Hi {{user.firstName}}! You're all up to date</h1>
{{/if}}
