{{! settings form }}
{{message}}
<div class="settings">
  <form id="settings-form" action="/users/settings" method="post">
    <label for="firstName">First Name</label>
    <input type="text" value="{{user.firstName}}" name="firstName" />

    <label for="lastName">Last Name</label>
    <input type="text" value="{{user.lastName}}" name="lastName" />

    <label for="email">Email</label>
    <input type="text" value="{{user.email}}" name="email" />

    <label for="password">Password</label>
    <input type="password" value="" name="password" />

    <input type="submit" value="Submit" />

  </form>

  <form
    id="photo_change"
    action="/users/settings/photo"
    method="post"
    enctype="multipart/form-data"
  >
    <label>Upload Photo</label>
    <input class="choose-file-btn" type="file" name="image" />
    <input type="submit" value="Submit" />

  </form>

  {{#if user.photo.photoExists}}

    <img
      class="img-card"
      src="data:image/png;base64,{{user.photo.code}}"
      alt="avatar"
    />

  {{else}}
    <img class="img-card" src="/images/default-pic.png" alt="avatar" />

  {{/if}}
</div>