<!DOCTYPE html>
<html>

<head>
  <title>Acebook Profile Page</title>
  <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">

</head>

{{!-- <style>
    body {
      background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style> --}}

<body>
  <!-- Left column: logo and menu -->
  <div class="tm-left-right-container">
    <!-- Left column: logo and menu -->
    <div class="tm-blue-bg tm-left-column">
      <div class="tm-logo-div text-xs-center">
        <img style="margin-left: 80px; height: 200px; width: auto; " src="../../images/images.png" alt="Logo">
        <h4 style="margin-left: 75px; font-family: 'Bungee', cursive"> {{user.fullname}} Profile Page </h4>
        <ul>
          <ul>{{user.username}} </ul>
          <ul>{{user.email}}</ul>
          <br>
          <br>
          <li class="tm-nav-item tm-button2">
            <button onclick="window.location.href = '/posts';" class="tm-nav-item-link tm-button2">Posts</button>
          </li>
          <li class="tm-nav-item tm-button2">
            <button onclick="window.location.href = '/posts/new';" class="tm-nav-item-link tm-button2">New Posts</button>
          </li>
          <li class="tm-nav-item tm-button2">
            <button onclick="window.location.href = '/users/search';" class="tm-nav-item-link tm-button2">Connect & Search</button>
          </li>
          <li class= "tm-nav-item tm-button2">
            <form id="friend-request-form" type="submit" method="post" action="/users/{{user.username}}">
            <button type="submit" value="submit"> Add friend </button>
          </form>
          <br>
          <ul class="tm-nav-item">Date joined Acebook: {mm/year} </ul>
        </ul>
      </div>
    </div>
  </div>

  <!-- Right column: content -->
  <div class="tm-right-column">
    <figure>
      <img class="cropped" src="../../images/Friends--unsplash.jpg" alt="Header image">
    </figure>

    <div class="tm-content-div">
      <!-- Welcome section -->
      <section id="welcome" class="tm-section">
        <header>
          <h3 class="tm-blue-text tm-welcome-title tm-margin-b-45 title" style="font-family: 'Bungee', cursive">{{user.fullname}}'s Bio </h3>
        </header>
        <p> {{user.bio}}</p>
        <!-- <a href="/users/profile/new" class="tm-button tm-button-wide ">Edit</a> -->
      </section>
      <!-- About section -->
      <section id="about" class="tm-section">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 push-lg-4 push-md-5">
            <header>
              <h3 class="tm-blue-text tm-section-title tm-margin-b-45" style="font-family: 'Bungee', cursive">Your Recent Posts</h3>
            </header>

            {{#each posts}}
            <div style="margin-bottom: 5px" class="rposts1">           <!-- for each post in the db print all of the below -->
              <li>{{this.message}}</li>
              <li>{{this.time}}</li>
              </div>
            {{/each}}


            <h3 class="tm-blue-text tm-section-title tm-margin-b-45" style="font-family: 'Bungee', cursive">Recent Posts You're Tagged In</h3>
            {{#each tagged}}
            <div style="margin-bottom: 5px" class="rposts1">           <!-- for each post in the db print all of the below -->
              <li>{{this.message}}</li>
              <li>{{this.time}}</li>
              </div>
            {{/each}}


          </div>
        </div>
      </section>
    </div>
  </div>
</body>


{{!-- <script src="../../public/javascripts/materialize.js"></script>
<script src="../../public/javascripts/materialize.min.js"></script>   --}}

</html>
