<h1>Post</h1>

<a href="/users/{{post.user_id}}">User</a>
{{post.message}}

<form action="/posts/{{this.post._id}}/create" method="post">
    <input id="message" type="text" name="message" value="" required>
    <input type="submit" value="Create">
</form>

<ul class="comments">
  {{#each comments}}
  <a href="/users/{{this.user_id}}">User Profile</a>
  <li>{{this.message}}</li> 
  {{/each}}
</ul>

<a class="new-post-link" href="/posts">Posts</a>