<h1>Timeline</h1>

<ul class="posts">
  {{#each posts}}
  <div class="post">

    <li class="post-elements">
      <div class="post-text">
        {{this.message}}, {{this.firstname}}
        <div class="datestamp">Created at {{formatDate this.createdAt}}</div>
      </div>

      
      <div class="delete-button-container" data-post-id="{{ this._id }}"></div>
      <div class="like-button-container" data-post-id="{{ this._id }}"></div>
      
      <form id="new-comment-form" action="/posts/comments/{{this.id}}" method="post">
        <input type="text" value="" name="commentmessage">
        <button class="comment-button">Comment</button>
      </form>

      <div class="comment-text">
      {{#each this.comments}}
      <li><div class="comment-message-text">{{this.commentMessage}}</div>
      {{/each}}
      </div>

    </li>
  </div>
  {{/each}}
</ul>

<form action="/posts/new">
  <input class="new-post-link" type="submit" value="New post">
</form>

<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="like_button.js"></script>
<script src="delete_button.js"></script>