<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <div class="post-feed-container">
    <h1>Timeline</h1>
    <a class="new-post-link" href="/posts/new">New post</a>

    <div class="posts">
      {{#each posts}}
      <div class="post">
        <div class="post-div-container" id="post-div-container-{{this._id}}">
          <ul>
            <li class="username">@{{this.user_id.username}}</li>
            <li class="message">{{this.message}}</li>
            <li class="time">{{this.time_posted}}</li>
          </ul>
        </div>

          <div class="post-likes-container">
            <div
              class="post-like-counter"
              id="counter-{{this._id}}"
            >{{this.likes.length}}</div>
            <button class="post-like-button liked-{{this._doc.likedByCurrentUser}}" id="button-{{this._id}}">
            </button>

            <script type="text/javascript">
              document.getElementById("button-{{this._id}}").addEventListener('click',
              () => { fetch( "/likes/new/" + "{{this._id}}", {method: 'PUT'})
              .then(response => response.json()) .then(result =>
              document.getElementById("counter-{{this._id}}").textContent =
              result.counter) })
            </script>

            <div class="comment-counter">
              {{this.comments_counter}}
              <img id="comment_image" src="/images/comment-bubble.png">
            </div>

            <a class="new-comment-link" href="/comments/{{this._id}}">Write a comment</a>
          </div>

          {{#if this._doc.belongsToCurrentUser}}
            <div class="post-delete-div" id="post-delete-div-{{this._id}}">
              <button
                class="post-delete-button"
                id="post-delete-button-{{this._id}}"
                onclick="deletePostOnClick('{{this._id}}')"
              >Delete Post</button>
            </div>
          {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
  <script src="/javascripts/posts/index.js"></script>
</body>