<h1>Timeline</h1>

<div class="posts">
  {{#each posts}}
    <div class="post-div-container" id="post-div-container-{{this._id}}">
      <ul>
        <li>{{this.message}}</li>
        <li>{{this.user_id.username}}</li>
        <li>{{this.time_posted}}</li>
      </ul>
      <div class="post-delete-div" id="post-delete-div-{{this._id}}">
        {{! replace this form with a button & event listener }}
        <button
          class="post-delete-button"
          id="post-delete-button-{{this._id}}"
        >Delete Post</button>

        <script type="text/javascript">
          document.querySelector("#post-delete-button-{{this._id}}").addEventListener("click",
          () => { fetch("/posts/delete/{{this._id}}", {method: "DELETE"})
          .then(response=> response.json()).then(result => { if (result.ok &&
          result.ok === 1 && result.deletedCount === 1) { const postDivEl =
          document.querySelector("#post-div-container-{{this._id}}")
          postDivEl.childNodes.forEach((node) => node.remove())
          postDivEl.append( Object.assign( document.createElement("p"), { id:
          "post-delete-message-{{this._id}}", class: "post-delete-message" } ) )
          } }) } )
        </script>

        {{!--         
        <form action="/posts/delete/{{this._id}}?_method=DELETE" method="POST">
          <input
            class="post-delete-button"
            id="post-delete-button-{{this._id}}"
            type="submit"
            value="Delete Post"
          />
        </form> --}}

        {{! display "this post deleted" message }}
      </div>
    </div>
  {{/each}}
</div>

<a class="new-post-link" href="/posts/new">New post</a>