<!-- library for like -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<h1>Timeline</h1>
{{!-- Adding new post on the same posts page --}}
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <table>
                <tr>
            <form id="new-post-form" action="/posts/img" method="post" enctype="multipart/form-data">
            <h4>Welcome {{userName}}</h4>
            <th><center><img src="data:image/png;base64,{{userImage}}"  height="150" width="150" alt="Avatar"></center></th>
            
            <th><label for="message">Create New Post :</label></th>
            <th><input id="message" type="text" name="message" size="40" value="" placeholder="Type post message here.."/></th>
           <td> You can also post an Image, Click button to select image file ==>  </td>
          
            <th><input id="image" type="file" name="image" value="" /></hd>
            <th><input id="submitPost" type="submit" value="Post" /></th>
            </form>
                 </tr>
            </table>
        </div>
    </div>
</div>


<ul class="posts">
  {{#each  posts}}
<div class="row">
        <div class="col-sm-1">
          <div class="well">
           <center><img src="data:image/png;base64,{{this.image}}" class="img-circle" height="55" width="55" alt="Avatar"></center>
          <center><p><b>{{this.name}}</b></p></center>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="well">
            <div class="timeAgo">Posted - {{this.newTime}}</div>
            <img src="data:image/png;base64,{{this.newImage}}"   alt="">
            <h4><p>{{this.message}}</p></h4>
            <div><button onclick="actOnPost(event);" data-post-id="{{ this._id }}">Like</button>
            <span id="likes-count-{{ this._id }}">{{ this.likes_count }}</span></div>
            
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">

            <form id="new-comment-form" action="/posts/{{this._id}}" method="post">
            <input type="text" name="newComment" id="newComment" placeholder="Add new comment here.."/>
            <input id="submitComment" type="submit" value="Add Comment" />
            </form>


            <a href="/posts/{{this._id}}">View Previous Comments</a>
          
          </div>
        </div>
      </div>
  {{/each}}
</ul>




{{!-- <ul class="posts">
  {{#each posts}}
    <li>
      <img src="data:image/png;base64,{{this.image}}" width="30" height="40" alt="" />
      {{this.message}}</li>
      <b>{{this.name}}</b>
    <a href="/posts/{{this._id}}">View Comments</a>

<button onclick="actOnPost(event);"
   data-post-id="{{ this._id }}">Like
</button>
<span id="likes-count-{{ this._id }}">{{ this.likes_count }}</span>

  {{/each}}
</ul> --}}

<!-- Script for like button  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
       
        var updatePostStats = {
            Like: function (postId) {
                document.querySelector('#likes-count-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#likes-count-' + postId).textContent--;
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
            toggleButtonText[action](event.target);
            updatePostStats[action](postId);
            axios.post('/posts/likes/' + postId + '/act', { action: action });
        };
    </script>

<a class="new-post-link" href="/posts/new">New post</a>