<div class="whole page">

  <h1 class="timeline-title">My Timeline</h1>

  <ul class="posts">
    {{#each posts}}
    <div class="single-post">
      <li class="post-content">{{this.content}} by {{this.name}}</li>

      <div class="like-container">
        <button class="add-like" type="submit" value={{this.id}}>{{this.like.length}} 👍</button>
      </div>
      <div class="comment-container">
        <li>
          <input type="text" name="commment" id={{this.id}} placeholder="add comment here!" />
          <button id={{this.id}} class="submit-comment" type="submit" value={{this.id}}>💬</button>
        </li>
      </div>
      <div>
        <button onclick="showComments()">Show comments</button>
      </div>
      <script>
        function showComments() {
          var x = document.getElementById("allComments");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      </script>

      <div id="allComments" style="display:none;">
        {{#each this.comment}}
        <p>{{this.content}}</p>
        <p>{{this.author}}</p>
        <p>{{this.date}}</p>
        {{/each}}
      </div>

    </div>
    {{/each}}
  </ul>
</div>