
<h1 class="title"> Timeline</h1>
<ul class="posts">
  {{#each posts}}              <!-- for each post in the db print all of the below -->
  <li>{{this.message}}</li>
  <li>{{this.time}}</li>
  <li>{{this.postedby}}</li>
  <ul>
    {{#each this.tags}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <li><a href="/posts/{{this.id }}"> Add comment</a></li>
  <li>{{#each this.comments }} </li>        <!--   for each comment in the array print -->
    <li> {{this}} </li>
      {{/each}}
  <p> ----------------- </p>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<form action='/users/logout' method="post" id='logout'>
<button type='submit'>Logout</button>
</form>
