<h1>Timeline</h1>
<a class="btn btn-primary" href="/posts/new">New post</a><br><br>
  {{#each posts}}
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mr-2">
            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="" />
          </div>
          <div class="ml-2">
            <div class="h7 text-muted">&nbsp{{this.user.firstName}}</div>
          </div>
        </div>
      </div>
      <div class="text-muted h7 mb-2"> <small><i class="fa-regular fa-clock"> </i> {{this.timeFormat}}</small></div>
    </div>
    <div class="card-body px-4">

      <p class="card-text">
        {{#if this.image}}
        <img src="{{this.image}}" height="300" width="300">
        {{/if}} <br>
        {{#if this.message}}
        {{this.message}}
        {{/if}}
      </p>
    </div>
    <div class="card-footer">
<div class="row">
  <div class="col-3">
{{#contains this.likesArray ../session.user._id }}
      <form id="like-form" method="post" action="posts/unlike">
        <input type="hidden" name="post_id" value={{this._id}}>
        <button style="text-decoration:none;" id="like-submit" class="card-link btn btn-link" type="submit" data-bs-toggle="tooltip"
          data-bs-html="true" title="{{#each this.userLikes}}<p>{{this.firstName}} {{this.surName}}</p>{{/each}}">
          <img  align="left" src="/images/likecolor.png" height="20" width="20" class="mb-1">
          {{#is this.count "0" }}
          {{else}}
          ({{length this.userLikes}})
          {{/is}}
        </button>
      </form>

      {{else}}

      <form id="like-form" method="post" action="posts/like">

        <button style="text-decoration:none;" id="like-submit" class="btn btn-link" type="submit" data-bs-toggle="tooltip"
          data-bs-html="true" title="{{#each this.userLikes}}<p>{{this.firstName}} {{this.surName}}</p>{{/each}}">
          <img  align="left" src="/images/like.png" height="20" width="20" class="mb-2">
          {{#is this.count "0" }}
          {{else}}
          ({{length this.userLikes}})
          {{/is}}</button>
          <input type="hidden" name="post_id" value={{this._id}}>
      </form>

      {{/contains}}

  </div>

  <div class="col-3">
      <a style="text-decoration:none;" href="#" trigger="#commentForm{{@index}}" id="comment" class="toggle btn btn-link"><img trigger="#commentForm{{@index}}" align="left" src="/images/commentbllue.png" height="20" width="20" class="mt-1 toggle"></a>
  </div>


  <div class="col-3">
      <a style="text-decoration:none;" href="#" trigger="#comments-toggle{{@index}}" class="toggle btn btn-link"><img trigger="#comments-toggle{{@index}}" align="left" src="/images/view.png" height="20" width="20" class="mt-1">{{#if this.comments}}({{length this.comments}}){{/if}}</a>
  </div>

  <div class="col-3">
      <a href="#" class="btn btn-link"><img align="left" src="/images/barney_button.png" height="20" width="20" class="mt-1"></a>
  </div>

</div>
      <div class="m-1 p-1">
      <div id="commentForm{{@index}}" class="toggle-content">
      <form id="new-comment-form" action="/comment/create" method="post">
      
        <div class="mb-3">
          <textarea onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" class="form-control" id="comment" name="comment" placeholder="Add Comment" rows="2" cols="50"
            type="text"></textarea>
        </div>
        <input type="hidden" name="post_id" value="{{this._id}}">
        
      </form>
      </div>
</div>
      {{#if this.comments}}

      <div id="comments-toggle{{@index}}" class="toggle-content is-visible">
      
      
      <div class="card m-1 p-1">
        {{#each this.comments}}
        <div class="comments m-1 p-1">

          <div class="d-flex flex-row me-2">
            <img class="rounded-circle" width="40" height="40" src="https://picsum.photos/50/50" alt="" />
            <div class="d-flex flex-column ms-2">
              <span class="name">{{this.user.firstName}}</span>
              <small>{{this.comment}}</small>
              <div class="d-flex flex-row align-items-center status">
              <small> <i class="fa-regular fa-clock"> </i> {{this.timeFormat}} </small>

      {{#contains this.commentLikesArray ../../session.user._id }}
      <form id="comment-like-form" method="post" action="/comment/unlike">
        <input type="hidden" name="post_id" value={{this._id}}>
        <button style="text-decoration:none;"  id="like-submit" class="card-link btn btn-link" type="submit" data-bs-toggle="tooltip"
          data-bs-html="true" title="{{#each this.userLikes}}<p>{{this.firstName}} {{this.surName}}</p>{{/each}}">
          <img  align="left" src="/images/likecolor.png" height="20" width="20" class="mb-1">
          {{#is this.count "0" }}
          {{else}}
          ({{length this.likes}})
          {{/is}}
        </button>
      </form>

      {{else}}

      <form id="comment-like-form" method="post" action="/comment/like">

        <button style="text-decoration:none;" id="like-submit" class="btn btn-link" type="submit" data-bs-toggle="tooltip"
          data-bs-html="true" title="{{#each this.likes}}<p>{{this.firstName}} {{this.surName}}</p>{{/each}}">
          <img  align="left" src="/images/like.png" height="20" width="20" class="mb-1">
          {{#is this.count "0" }}
          {{else}}
          ({{length this.likes}})
          {{/is}}</button>
          <input type="hidden" name="post_id" value={{this._id}}>
      </form>

      {{/contains}}
                
              </div>
            </div>
          </div>
        </div>

        {{/each}}
      </div>
      


      </div>  
      {{/if}}

    </div>
  </div>
  <br />
  {{/each}}