<h1 class="title">Post Timeline</h1>
<ul class="posts">
  {{#each posts}}

  <div class="post-container">
    <li class="each-message">{{this.message}}<br>{{this.date}}</li>
      <form action="/posts/delete" method="post" class="delete" >
        <input name="_id" type="hidden" value="{{this._id}}">
        <input name="delete" type="submit" value ="ðŸ—‘ï¸">
      </form>
    </li>

    <div>
      <form action="/posts/updateLikes/{{this.id}}" method="post">
        <button id="like-button">
          Like
        </button><span id="like-counter">{{this.likes}}</span>
      </form>
    </div>
  </div>

  <form id="comment-post-form" action="/posts/{{this._id}}/comment" method="post">
    <label for="comments">Write your comment: </label>
    <input id="comments" type="text" name="comments" value="">
    <input type="submit" value="Submit">
  </form>
  
  <p> Comments: </p>
  <div class='array-output-wrapper'>
    <ul> {{#each this.comments}}
        <li> {{this}} </li>
      {{/each}}
  </div>

  {{/each}}
  
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
