<h1>Timeline</h1>
<div id="post">
<ul class="posts">
 {{#each posts}}
  <div class="post-div" postId={{this._id}}>
    <div class="username">Username: {{this.username}}</div>
    <div class="message">{{this.message}}</div>

    {{!-- <div class="timeSince">{{this.dateAndTime}}</div> --}}

    <p>Posted <time class="timeago" datetime="2022-04-18T09:24:17Z"></time></p> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/jquery.timeago.js"></script>

    <script type="text/javascript">
       jQuery(document).ready(function() {
         $("time.timeago").timeago();
       });
    </script>
    

    <br>
    <input type="button" value="Like" class="likeUnlike" data-button-id={{this._id}} >
  </div>
  <div class="delete-post">
    <form action="/posts/{{this._id}}" method="post" id="delete-post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete post" />
    </form>
    <br>
  </div>
  {{/each}}
</ul>
</div>
<a class="new-post-link" href="/posts/new">New post</a>



