<h1>Timeline</h1>

<div class="posts">
  {{#each posts}}
    <div class="post-div-container" id="post-div-container-{{this._id}}">
      <ul>
        <li>{{this.message}}</li>
        <li>{{this.user_id.username}}</li>
        <li>{{this.time_posted}}</li>
      </ul>
      <div class="post-delete-div" id="post-delete-div-{{this._id}}">
        <button
          class="post-delete-button"
          id="post-delete-button-{{this._id}}"
          onclick="deletePostOnClick('{{this._id}}')"
        >Delete Post</button>
      </div>
    </div>
  {{/each}}
</div>
<script src="/javascripts/posts/index.js"></script>
<a class="new-post-link" href="/posts/new">New post</a>