<h1 class="title">Hi {{user.firstName}}! Welcome to the TimeLine</h1>

<div class="new-post">
  <button class="new-post-btn"><a class="new-post-link new-post-btn-line" href="/posts/new">New post</a></button>
</div>

<ul class="posts">

  {{#each posts}}
    <li>
      <div class="card">
        <div>
          <img class="img-card" src="/images/default-pic.png" alt="Avatar">
        </div>
        <h4><b>{{this.user.firstName}} {{this.user.lastName}}</b></h4>  
        <div class="message">
        <p>{{this.message}}</p>
        </div>
        <div class="message2">

        </div>
        <div class="likes">
          {{this.likes.length}}
          likes
          {{this.createdAt}}
          
        <form id="likes-form" action="/posts/{{this._id}}" method="post">

          <input type="submit" value="likes" />
        </form>
        {{#if this.remarks.length}}
<li>
        Comments=
 </li>       
        {{#each this.remarks}}
<li>
      {{this.content}} by {{this.user.firstName}}
          </li>
        {{/each}}
        
      {{else}}
      <li>
        NO Comments have been made
        </li>
      {{/if}}
          <form
      id="new-comment-form"
      action="/posts/comments/{{this._id}}"
      method="post"
    >
      <label for="comments"> comment here</label>
      <input type="text" value="" name="content" />

      <input type="submit" value="Submit" />

    </form>
    </div>
        </div>
    </li>
  {{/each}}
</ul>
