<body>

  <h1>Timeline</h1>
  
  <ul class="posts"> 
    {{#each posts}}
    
    <li>{{this.content}}</li>
    <li>{{this.like.length}}</li>
    <span>
      <form id="like-form" action="/" method="POST">
        <input id="submit" type="submit" value="Add Like" />
      </form>
    </span>

    <li>
    <input type="t --}}ext" name="commment" id={{this.id}} />
      <button id={{this.id}} class="submit-comment" type="submit" value={{this.id}}>add comment</button>
    </li>

  
    <!-- Add a like button -->

    {{/each}}
  </ul>

 



<form id="new-post-form" action="/posts/new" method="get">
    <input type="submit" value="New Post" />