<p id="my-feed">MY FEED</p>
<center><a id="new-post-link" href="/posts/new">ADD NEW POST</a></center>
<div class="all-posts">
  {{#each posts}}
  <li class="single-post" id="{{this._id}}">

  <div class="post-header">
    <div class="column1-author-details">
      <img id="profile-picture" src="/users/{{ this.author }}/profilepicture" alt="">
      <div id="post-details">
        <a href="/users/profile/{{ this.author }}"><p id="post-author">{{ this.author }}</p></a>
        <p id="post-timestamp">{{idtotime this._id}}</p>
      </div>
    </div>
      <div class="coloumn2-user-buttons">
      {{#if (eq this.author @root.user.username)}}
        <form action="/posts/delete/{{this._id}}" method="post">
          <input class="button" type="submit" value="Delete">
        </form>
        <form action="/posts/edit/{{this._id}}" method="get">
          <input class="button" type="submit" value="Edit">
        </form>
      {{/if}}
      </div>
    </div>
    <div class="post-body">
      {{#if this.message}} 
      <p id="message-content">{{this.message}}</p>
        {{/if}}
        {{#if this.photo}} <!-- display a photo is upload/none if not -->
          <img class="image" src="/upload/{{this.photo}}" />
        {{/if}}
    </div>
    <div>
      {{#if (eq this.like_count 0)}}
        <p class="like-count">Be the first to like this post!</p>
      {{else if  (gt this.like_count 1)}}
        <p class="like-count">Liked by {{this.like_count}} people</p>
      {{else if (eq this.like_count 1)}}
        <p class="like-count">Liked by {{this.like_count}} person</p>
      {{/if}}
    </div>
    <div>
      <p id="comment-count">Comment Count Here</p>
    </div>

    <hr>
    <div id="interaction-buttons">
      <form action="/posts/liked" method="post">
        <input id="id" type="hidden" name="id" value="{{this._id}}">
        <input type="submit" id="like-button" name="likeBtn" class="submit {{#contains @root.user._id this.likers }}unlikeBtn{{else}}likeBtn{{/contains}}" value="{{#contains @root.user._id this.likers }}UNLIKE{{else}}LIKE{{/contains}}">
      </form>
      <form action="/posts/comment" method="get">
        <input id="id" type="hidden" name="id" value="{{this._id}}">
        <input class="btn" id="comment-button" type="submit" value="{{#if (eq commenters.length 1)}}{{ commenters.length }} COMMENT{{else}}{{ commenters.length }} COMMENTS{{/if}}">

      </form>
    </div>
    <br/><hr>
  </li>
  {{/each}}
</div>
