    <link rel='stylesheet' href='/stylesheets/style.css' />

    <div>
      <form action="/posts">
        <button type="submit" id="home">Home</button>
      </form>
    </div>
    <div>
      <form action="/profile">
        <button type="submit" id="profile">Profile</button>
      </form>
    </div>

    <div>
      <form action="/login" method="get">
        <button type="submit" id="logout">Log out</button>
      </form>
    </div>
    <h1>Timeline</h1>
<<<<<<< HEAD
    <div class="tlposts">
      <ul class="posts">
        {{#each posts}}
        <li>{{this.owner}} </li>
        <li>{{this.message}} </li>
        <li>{{this.date}} </li>
        <br>
        {{/each}}
      </ul>
    </div>

    <a class="new-post-link" href="/posts/new">New post</a>
=======
    <form id="new-post-form" action="/posts" method="post">
      <label for="message">Message: </label>
      <input id="message" type="text" name="message" value="">
      <input type="submit" value="Share post">
    </form>
    <div style="height: 500px; overflow:auto;">
    <ul class="posts">
      {{#each posts}}
      <li>{{this.owner}} - {{this.message}} - {{this.date}}</li>
      {{/each}}
    </ul>
  </div>
>>>>>>> b6fdd1239ee0367bb4b58ef2e4cf08134846bf5d
