<div class="page-container">
<div class="three-columns">
  <div class="left-column"><div class="profile-card">
    <div class="username-card">{{username}}</div>
    <img class="profile-photo-header"  src={{profilePhotoPath}}><br>
    <a id="change_profile_photo" href='/users/photo' class="" style="text-decoration: none">Change Profile Photo</a>
  </div>

</div>
<div class="center-column">
 <form id="new-post-form" action="/posts" method="post">
  <div class="new-message-form">
    <input class="nomargin padding15" id="message" type="text" name="message" placeholder="What's on your mind?" value="">
    <input class="button-5 margin15" type="submit" value="Submit">
    </div>
  </form>
<div class="posts">
  {{#each posts}}
  <div class="post"> 
    <div class="post_contents">
      <div class="author_container">
        <img class="profile-photo" src={{this.author.profilePhotoPath}}>
        <div class="username">{{this.author.username}}</div>
      </div>z
      <div class="message_container">  
        <div class="post-message">
          {{this.message}}
        </div>
      </div>
      <div class="like-bar-container">
      <form class="like-form" id="{{this._id}}" data-user-id="{{user_id}}" action="/posts/add_like" method="post">
           <input id="user_id" type="hidden" value="{{user_id}}">
           <input id="post_id" type="hidden"  value="{{this._id}}">
           <button class="add-like-button" type="submit" value="Like"><i class="fa-regular fa-thumbs-up"></i></i></button>
          </form> <div class="likes_container">
         Likes:
        
        <div class="likes-count">{{this.likes.length}}</div>
       </div></div>
      <div class="all_comments">
        {{#each this.comments}}
      <div class="comment_container">
        <div class="comment">
          {{this.message}}
        </div>x
      </div>
      {{/each}}
      </div>
      <div class="footer">
        <form  id="new-comment-form" class="comment-form" action="posts/create_comment" method="post">
          <input class="post_id" type="hidden" name="post_id" value="{{this._id}}">
          <input class="user_id" type="hidden" name="user_email" value="{{../user_id}}">
          <input class="comment-input" data-username="{{username}}" type="text" name="message" value="" placeholder="Write a comment...">
          <input class="button-5 submit-comment" type="submit" value="Add comment">
        </form>
      </div>
    </div>

  </div>
  {{/each}}
</div></div><div class="right-column"><img src="https://via.placeholder.com/150x700"></div></div></div>
  <script type="text/javascript" src="javascripts/likes_dom.js"></script>
    <script type="text/javascript" src="javascripts/comments_dom.js"></script>


