<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  
  <li>{{this.message}} <br> {{this.date}}<form method="post" action="/posts/{{this.id}}/delete"><input type="submit" value="Delete"></form></li>
  <form id="new-post-form" action="/posts/{{this.id}}/comment" method="post">
    <label for="message">Comment: </label>
    <input id="message" type="text" name="comment" value="">
    <input type="submit" value="Submit">
  </form>
  {{#each this.comments}}
    <p>{{this.comment}}</p>
  {{/each}}

{{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>