<head>
  <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
  <script name="like_button">

    document.addEventListener('DOMContentLoaded', () => {
      console.log('Feed loaded')
      const socket = io()
      const userId = document.getElementsByName("user_id")[0].content
      const postsFeed = document.querySelector('.posts')
      const likeButtons = document.querySelectorAll('.like_button')

      for (i = 0; i < likeButtons.length; i++ ) {
        console.log('found like button')
        likeButtons[i].addEventListener('click', (event) => {
          console.log('LIKE')
          const parent = event.target.parentElement
          const postId = parent.children[0].textContent
          socket.emit('newLike', {postId: postId, userId: userId} )

        })
      }

      socket.on('add like', (postId) => {
        console.log('adding 1 like to ' + postId)
        const post = document.getElementById(postId)
        const likes = post.querySelector('.post_likes').querySelector('#likes_count')
        currentLikes = parseInt(likes.textContent)
        likes.innerText = currentLikes + 1
        console.log(currentLikes)
      })

      socket.on('remove like', (postId) => {
        console.log('removing 1 like from ' + postId)
        const post = document.getElementById(postId)
        const likes = post.querySelector('.post_likes').querySelector('#likes_count')
        currentLikes = parseInt(likes.textContent)
        likes.innerText = currentLikes - 1
        console.log(currentLikes)
      })

      const newPostButton = document.querySelector('.new_post_button')
      newPostButton.addEventListener('click', (event) => {
      console.log('NEW POST')
      const newChild = document.createElement('div')
      newChild.setAttribute('class', 'post')
      newChild.innerText = "New Post Here"
      postsFeed.insertBefore(newChild, postsFeed.firstChild)
      })

    })

  </script>
  <meta name="user_id" content="{{user._id}}">
  
</head>
<body>
  <h1 class="page-header">Timeline</h1>
  <h2>{{user.firstName}} {{user.surname}}</h2>
  <div class="new_post_form">
  <button class="new_post_button">New post</button>
  </div>
  <div class="posts">

    {{#each posts}}
    <div class="post" id="{{this.id}}">
      <div class="post_author">
        {{this.authorFirstName}} {{this.authorSurname}}
      </div>
      <div class="post_content">
        {{this.message}}
      </div>
      <div class="post_date">
        {{this.created_at}}
      </div>
      <div class="post_likes">
        <span id="post_id" hidden>{{this.id}}</span><span id="likes_count">{{this.likes.length}}</span> <button class="like_button">Like</button>
      </div>
    </div>
    {{/each}}
  </div>
</body>

