{{! log out button }}
<form action="/sessions?_method=DELETE" method="POST">
  <input type="submit" value="Sign Out" />
</form>

{{! Profile page link}}
<a href="/profile/user">Profile Page</a>

<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li class="post">
      {{this.timestamp}}
      <br />
      {{this.username}}
      <br />
      {{this.message}}
      <form class="delete-post" action="/posts/delete" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input type="submit" value="Delete" />
      </form>
      {{#if this.likes}}
      <div class="likes">
       <button>Likes: {{this.likes}}</button> 
        </div>
      {{/if}}
      <form class="like-post" action="/posts/like" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input type="submit" value="like" />
      </form>
    </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>