<div id="nav-bar">
  <div class="logo-image">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/1200px-2021_Facebook_icon.svg.png"
      width="40"
      height="40"
    />
    <h2>Quackbook</h2>
  </div>
  <div id="logout">
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
    </form>
  </div>
</div>

<div class="post-body">
<div id="side-bar" class="column left">
  <div class="user-profile">
    <img class="profile-img" src={{user.profilePic}}>
  </div>
<p>Hello, {{user.username}}!!</p>
</div>

<div id="main-container" class="column right">
  <form id="new-post-form" action="/posts" method="post">
    <input id="message" type="text" name="message" placeholder="Post your quack" value="" required />
    <input type="submit" value="Quack!"/>
  </form>
  <br><br>

  <div id="post">
    <ul class="posts">
      {{#each posts}}
        <div class="post-div" postId={{this._id}}>
          <div class="username">Username: {{this.username}}</div>
          <div class="message">{{this.message}}</div>

        {{#if this.postImage}}
          <img class="post-photo" src={{this.postImage}} alt={{this.postImage}}>
        {{/if}}

          <div class="timeAgo">{{this.dateAndTime}}</div>
          <br />
          <div> 
          <input type="button" value="Like" class="likeUnlike" data-button-id={{this._id}} postId={{this._id}} username={{../user.username}} likes={{this.likes}}>
          </div>
          <div>Likes: {{this.likes.length}}</div>
        </div>
        <div class="delete-post">
          <form action="/posts/{{this._id}}" method="post" id="delete-post">
            <input type="hidden" name="_method" value="DELETE" />
            <input
              type="image"
              src="https://www.pngall.com/wp-content/uploads/5/Delete-Bin-Trash-PNG-Free-Download.png"
              width="30"
              height="30"
            />
          </form>
          </div>
            <div id="comment">
              <div class="new-comment">
                <form id="new-comment-form" action="/posts/{{this._id}}/comment" method="post">
                  <label for="message"></label>
                  <input id="message" type="text" name="message" value="" required>
                  <input type="submit" value="Submit">
                </form>
              </div>
            <div>
            {{#each this.comments}}
              <div>Username: {{this.username}}</div>
              <div>{{this.message}}</div>
              <div class="timeAgo">{{this.dateAndTime}}</div>
              <br /> 
            {{/each}}
          <br />
        </div>
      {{/each}}
    </ul>
  </div>
</div>
</div>