<h1>Timeline</h1>
<ul class="posts">
    <li>
      {{#each collection}}
      <img src={{this.picture}} width="40" height="40" />
      <a href="/users/{{this.post.user_id}}">{{this.username}}</a>
      <p>{{this.post.message}}</p>
      <p>{{this.post.likes}} likes</p>
      <form action="/posts/{{this.post._id}}/like" method="post">
        <button type="submit">Like</button>
      </form>
      <a href="/posts/{{this.post._id}}">More details</a>
      <p>=====================</p>
      {{/each}}
    </li>
</ul>

<a class="new-post-link" href="/posts/new">New post</a>