<h1>Timeline</h1>
<ul class="posts">
    {{#each posts}}
        <li class="post">
               <h6>{{this.author.firstName}} + " " + {{this.author.lastName}}</h6>
            <div>{{this.message}}</div>
            <form action="/posts/like" method="post">
                <input type="hidden" name="post" value="{{this._id}}">
                <input type="hidden" name="post" value="{{this._id}}">
                <input type="submit" class="button-like"
                       value="{{#contains @root.user._id this.likes}}Unlike{{else}}Like{{/contains}}">
            </form>
            {{this.likes.length}}
        </li>
    {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
