<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}

  <li>{{this.message}}<h6>Created {{moment this.createdAt "YYYYMMDD" fromNow=null}}<br>
    Updated {{moment this.updatedAt "YYYYMMDD" fromNow=null}}</h6>
    <form method="post" action="/posts/{{this.id}}/delete"><input type="submit" value="Delete"></form>
  </li>
  <form id="edit-post-form" action="/posts/{{this.id}}/edit" method="POST">
    <label for="message">Edit post: </label>
    <input id="message" type="text" name="edited" value="">
    <input type="submit" value="Save edit">
  </form>
  <form id="new-comment-form" action="/posts/{{this.id}}/comment" method="post">

    <label for="message">Comment: </label>
    <input id="message" type="text" name="comment" value="">
    <input type="submit" value="Submit">
  </form><br>
  {{#each this.comments}}
    <h4>{{this.comment}}</h4><h6>{{moment this.createdAt "YYYYMMDD" fromNow=null}}<br>
    {{moment this.updatedAt "YYYYMMDD" fromNow=null}}</h6>
  {{/each}}

{{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>