<h1 class="title">{{title}}</h1>

<form action='/sessions?_method=DELETE' method='POST'>
  <input id="logout" type="submit" value="Log out">

</form>

<a href="/profile">Profile</a>
<p>Welcome {{name}}</p>
<br>


<form id="new-post-form" action="/posts" method="post">
  <label for="message">Whats on your mind? </label>
  <input type="hidden" name="user" value="{{userID}}">
  <input id="message" type="text" name="message" value="">
  <input id="submit" type="submit" value="Submit">
</form>

<div id="blank-message">{{blank}}</div>

<h1>Timeline</h1>

<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>

  {{!-- button on form does not need layout.js --}}
  {{!-- <form action="/posts/like" method="post"> --}}
    {{!-- <button class="like" type="submit" name="post" value="{{this._id}}">{{this.likes.length}} likes</button> --}}
    {{!-- </form> --}}

  {{!-- layout.js sends fetch to /posts/like from this button --}}
  <button class="like" type="submit" value="{{this._id}}">{{this.likes.length}} likes</button>

  <a href="/profile">
    <h4>{{this.firstName}} {{this.surname}}</h4>
  </a>
  {{/each}}


</ul>