<h1 class="title">Hi {{user.firstName}}! Welcome to the TimeLine</h1>
<ul class="posts">

  {{#each posts}}
  <li> <img src="/images/profile_picture.png" alt="Default profile picture icon" width="40" height="40"></li>
      <li>{{this.message}}
      at
      {{this.createdAt}}

      by
      {{this.user.firstName}}
      {{this.user.lastName}}
      {{this.likes.length}}

      likes

    </li>

    <form id="like-btn" action="/posts/{{this._id}}" method="post">

      <input type="submit" value="likes" />
    </form>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>