<div id="nav-bar">
  <div class="logo-image">
    <img
      src="/images/logo.png"
      width="130"
      height="70"
      />
  </div>

  <div>
    <h3>Your Quack Timeline</h3>
  </div>
  
  <div id="logout">
    <form action="/sessions?_method=DELETE" method="POST">
      <input
        type="image"
        src="https://www.clipartmax.com/png/small/292-2924736_logout-icon-png-blue.png"
        height="40"
        width="40"
      />
    </form>
  </div>
</div>

<div class="post-body">
  <div id="side-bar" class="column left">
    <div class="user-profile">
      <img class="profile-img" src={{user.profilePic}}>
    </div>

    <div>  
    <h4>Hello, {{user.username}}!!</h4>
    </div>
  </div>

  <div>
    <form id="new-post-form" action="/posts" method="post">
      <label for="message"></label>
      <input id="message" type="text" name="message" placeholder="Quack quack quack..." value="" required />
      <input id="photo" class="input-photo" type="text" name="postImage" placeholder="Add photo" value="" />
        <input class="post-submit-btn"
      type="image"
      src="/images/post-quack.png"
      height="80"
      width="109"
    />

    </form>
  </div>

  <div id="main-container" class="column right"> 
    <br><br>

    <div id="post">
      <ul class="posts">
        {{#each posts}}
          <div id="each-post">
            <div class="post-div" postId={{this._id}}>
              <div class="username">@{{this.username}}</div>
              <div class="message">{{this.message}}</div>
              <div>
              {{#if this.postImage}}
                <img class="post-photo" src={{this.postImage}} alt={{this.postImage}}>
              {{/if}}
              </div>
              <div class="timeAgo">{{this.dateAndTime}}</div>

              <div class="post-features">
                <div class="post-like-info">
                  <div> 
                    <input type="image" src="/images/like-btn.png"
                    height="40"
                    width="40" value="Like" class="likeUnlike" data-button-id={{this._id}} postId={{this._id}} username={{../user.username}} likes={{this.likes}}>
                  </div>
                  <div>{{this.likes.length}}</div>
                </div>
                <div class="delete-comment-feature">
                  <div class="comment-btn">
                    <input 
                    type="image"
                    src="/images/comment-icon.png"
                    height="40"
                    width="40" id="comment-btn"/>
                  </div>

                  <div class="delete-post">
                    <form action="/posts/{{this._id}}" method="post" id="delete-post">
                      <input type="hidden" name="_method" value="DELETE" />
                      <input class="delete-btn"
                      type="image"
                      src="/images/delete-bin.png"
                      width="40"
                      height="40"
                      />
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div id="comment">
            <div class="new-comment">
              <form id="new-comment-form" action="/posts/{{this._id}}/comment" method="post">
                <label for="message"></label>
                <input id="message" type="text" name="message" value="" required>
                <input type="submit" value="Submit">
              </form>
            </div>
            <div>
              {{#each this.comments}}
              <div>Username: {{this.username}}</div>
              <div>{{this.message}}</div>
              <div class="timeAgo">{{this.dateAndTime}}</div>
              <br /> 
              {{/each}}
              <br />
            </div>
          </div>
       {{/each}}
      </ul>
    </div>
  </div>
</div>