<h1>Timeline {{user}} {{user.username}}</h1>
<div id="post">
<ul class="posts">
{{#each posts}}
  <div class="post-div" postId={{this._id}}>
    <div class="username">Username: {{this.username}}</div>
    <div class="message">{{this.message}}</div>
    <div class="dateAndTime">{{this.dateAndTime}}</div>
    <br>

    <div>
    <input type="button" value="Like" class="likeUnlike" data-button-id={{this._id}} postId={{this._id}} username={{../user.username}}>
    </div>
    <div>Likes: {{this.likes.length}}</div>

  </div>
  <div class="delete-post">
    <form action="/posts/{{this._id}}" method="post" id="delete-post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete post" />
    </form>
    <br>
  </div>
  {{/each}}
</ul>
</div>
<a class="new-post-link" href="/posts/new">New post</a>
<script src="../../public/javascripts/likeOnOff.js"></script>


