<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div class="post">
    <p> 
      <img class="profile_picture" src="{{../session.photo_link}}" alt="default_profile_picture">
      {{this.message}} - {{this.createdAt}}
     </p>
    <!-- create a comment on the post -->
    <form id="new-comment-form" action="/posts/{{this._id}}" method="post">
      <input id="message" type="text" name="message" value="" placeholder="Comment here">
      <input type="submit" value="Submit">
    </form>
    {{#each this.comments}}
      <li class="comment">{{this.name}} - {{this.message}} - {{this.createdAt}}</li>
    {{/each}}
  </div>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
