<body>    
    <h1 class="title"> Posts by Acebook Users</h1>
    <ul class="posts">
      {{#each posts}}     <!-- for each post in the db print all of the below -->
      <div style="margin-bottom: 5px" class="rposts1">   
      {{this.time}}
      <ul>{{this.message}}</ul>
     
      <li>Posted by: {{this.postedby}}</li>
      <ul>
        People tagged in this post:
        {{#each this.tags}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      </div>
      <a href="/posts/{{this.id }}"> Add A Comment</a>
      {{#each this.comments }}        <!--   for each comment in the array print -->
        <ul> {{this}} </ul>
          {{/each}}
      
      {{/each}}
   

    <a href="/posts/new">New post</a>
    <br>
    <a href="/users/profile">View profile</a>

    <form action='/users/logout' method="post" id='logout'>
    <button type='submit'>Logout</button>
    </form>

</body>
