<div class="timeline-navbar fixed-content">
  <div class="topbar">
    <div class="icon large-icon">{{icon}}</div>
    <h1 class="title">Acebook</h1>
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out" class="global-button logout">
    </form>
  </div>
  <div class="bottombar">
    <a class="global-button new-post-link" href="/posts/new">Create Post</a>
    <a href="/posts" class="go-top">Back to top</a>
  </div>
</div>   

<div class="timeline">
  {{#each posts}}
  <div class="posts">
    <div class="post-sec">
      <div class="icon post-icon">{{this.authorIcon}}</div> 
      <div class="post-details">
        <p class="author-name">{{this.author}}</p>
        {{#if gifUrl}}
          <img src="{{gifUrl}}" class="post-gif">
        {{/if}}
        <p class="message">{{this.message}}</p>
        <div class="likes">
          <form action="/posts/{{this._id}}/likes" method="POST" id="like-post">
            <input type="submit" value="ðŸ‘" class="global-button like-button">
            <p class="likes-count">{{this.likes}}</p>
          </form>
        </div>
      </div>
    </div>
    <div class="comments-sec">
      {{#each this.comments}}
        <div class="comment">
          <div class="commentor-name"><strong>{{this.author}}:</strong></div>
          <p class="comment-content">{{this.content}}</p>
        </div>
      {{/each}}
    </div>
    <div class="post-comment-sec">
      <form action="/posts/{{this._id}}/comments" method="POST" id="new-comment-form">
        <input id="comment" type="text" name="comment" value="" placeholder="Say something..." class="comment-box input-box">
        <input type="submit" value="Submit" class="global-button">
      </form>
    </div>
  </div>
  {{/each}}
</div>