<h1>My Feed</h1>
</br>
<a class="new-post-link" href="/posts/new">New post</a>
<br/><br/>
<div class="all-posts">
  {{#each posts}}
  <li id="single-post">

  <div class="post-header">
    <div class="column1-author-details">
      <img id="profile-picture" src="/users/{{ this.author }}/profilepicture" alt="">
      <div id="post-details">
        <p id="post-author">{{ this.author }}</p>
        <p id="post-timestamp">{{idtotime this._id}}</p>
      </div>
    </div>
      <div class="coloumn2-user-buttons">
      {{#eq this.author @root.username}}
        <form action="/posts/delete/{{this._id}}" method="post">  
          <input id="delete-post-button" type="submit" value="Delete">
        </form>
        <form action="/posts/edit/{{this._id}}" method="post"> 
          <input id="edit-post-button" type="submit" value="Edit">
        </form>
      {{/eq}}
      </div>
    </div>
    
    <div class="post-body">
      <p id="message-content">{{this.message}}</p>
        {{#if this.photo}} <!-- display a photo is upload/none if not -->
          <img class="image" src="/upload/{{this.photo}}" />
        {{/if}}
    </div>
    <p id="like-count"></p> <!-- will be used later on to display number of likes -->
    <hr>
    <div id="interaction-buttons">
      <form action="/posts/like" method="post">
        <input id="like-button" type="submit" value="Like">
      </form>
      <form action="/posts/comment" method="post">
        <input id="comment-button" type="submit" value="Comment">
      </form>
    </div>
    <br/><hr>

  </li>
  {{/each}}
</div>
