<h1>Timeline</h1>
<ul class="posts">
    {{#each posts}}
    <li class="post">
        <h6>{{this.author.firstName}} {{this.author.lastName}}</h6>
        <div>{{this.message}}</div>
        {{#if this.img.data}}
        <img src="data:{{this.img.contentType}};base64,{{tob64 this.img.data}}" height="300">
        {{/if}}
        
        <form action="/posts/like" method="post">
            <input type="hidden" name="post" value="{{this._id}}">
            <input type="submit" class="button-like"
                value="{{#contains @root.user._id
                this.likes}}Unlike{{else}}Like{{/contains}}">
            {{this.likes.length}}
        </form>
        <form>
            <input type="hidden" name="post" value="{{this._id}}">
            <input type="text" name="comment" placeholder="Enter comment...">
            <input type="submit" value="Submit comment">
        </form>
        
    </li>
    {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
