<h1>Timeline</h1>


<ul class="posts">
  {{#each posts}}
  <div class="post-format">
  <li class="post-user">{{this.user_id.first_name}}</li>
  <li class="post-date">{{dateFormat this.createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</li>
  
  <li>{{this.message}}</li> 
  <li class="post-likes">{{this.likes}} likes</li>
  <br>
  <li>
    <form action="/posts/like" method = "POST">
    <input type="hidden" id="hiddenbudden" name="id" value={{this.id}}>
    <button id="likeButton" type="submit">Like!</button>
    </form>
  </li>
  <br>
  </div>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
