<h1>Timeline</h1>

<div class = "posts">
  {{#each posts}}
<ul>
  <li>{{this.message}}</li>
  <li>{{this.user_id.username}}</li>
  <li>{{this.time_posted}}</li>
  {{!-- <li>{{this.likes.length}}</li> --}}
  
  <div class = "likes">
    <div class="post-like-counter" id="counter-{{this._id}}">{{this.likes.length}}</div>
    <button class="like-button" id="button-{{this._id}}">Like</button>

    <script type="text/javascript">
      document.getElementById("button-{{this._id}}").addEventListener('click', () => {
      fetch( "/likes/new/" + "{{this._id}}", {method: 'PUT'})
        .then(response => response.json())
        .then(result => document.getElementById("counter-{{this._id}}").textContent = result.counter) })
    </script>
  </div>
</ul>
</div> 
{{/each}}

<a class="new-post-link" href="/posts/new">New post</a>