<div class="header-and-button">
    <h1>Timeline</h1>
    <a class="new-post-button" href="/posts/new"><i class="fa-solid fa-pen-to-square fa-2xl"></i></a>
</div>

<section class="timeline">
    <ul class="posts">
        {{#each posts}}
            <li class="post">
                <a id="{{this._id}}"></a>
                <div class="user-header">
                    <img class="profile-pic" src="{{dataImage this.author.img}}">
                    <div>
                        <h6>{{this.author.firstName}} {{this.author.lastName}}</h6>
                        <h6>{{id-to-timestamp this._id}}</h6>
                    </div>
                </div>
                <div>{{this.message}}</div>
                {{#if this.img.data}}
                    <img src="{{dataImage this.img}}" height="300">
                {{/if}}
                <div class="post-buttons">
                    {{#strEq this.author._id @root.user._id}}
                        <button class="button-style" onclick="deletePost('{{this._id}}')"><i
                                class="fa-solid fa-trash-can"></i></button>
                        {{this.likes.length}} likes
                    {{else}}
                        <form action="/posts/like" method="post">
                            <input type="hidden" name="post" value="{{this._id}}">
                            <button onclick="this.form.submit()">
                                {{#contains @root.user._id this.likes}}<i class="fa-solid fa-thumbs-up"></i>{{else}}<i class="fa-regular fa-thumbs-up"></i>{{/contains}}
                            </button>
                            {{this.likes.length}}
                        </form>
                    {{/strEq}}
                </div>
                <div class="comments">
                    {{#each this.comments}}
                        <div>
                            <a href="/users/profile/{{this.author._id}}">
                            <img class="nav-profile-pic" src="{{dataImage this.author.img}}" alt="profile picture">
                            </a>
                            <div>
                                <h6>{{this.author.firstName}} {{this.author.lastName}}</h6>
                                <p>{{this.comment}}
                                {{#if this.img.data}}
                                    <img id="comment-img" src="{{dataImage this.img}}" alt="commented picture">
                                {{/if}}
                                {{#strEq this.author._id @root.user._id }}
                                    <button class="button-style" onclick="deleteComment('{{this._id}}')"><i
                                            class="fa-solid fa-trash-can"></i>
                                    </button>
                                {{/strEq}}
                                </p>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <form action="/posts/comment" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="post" value="{{this._id}}">
                    <input type="text" name="comment" placeholder="Enter comment...">
                    <div class="comment-box">
                        <label><small>Add an image?
                            <input type="file" id="img" name="img" accept="image/*">
                        </small></label>
                        <input class="button-style" type="submit" value="Submit comment">
                    </div>
                </form>
            </li>
        {{/each}}
    </ul>
    <script>
        async function deletePost(post) {
            await fetch('/posts/' + post, {method: 'DELETE'})
            location.reload();
        }

        async function deleteComment(post) {
            await fetch('/posts/comment/' + post, {method: 'DELETE'})
            location.reload();
        }
    </script>

</section>