<h1>Timeline</h1>

<form id="new-post-form" action="/posts" method="post">
  <label for="message">What's on your mind?</label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Post">
</form>


<ul class="posts">
  {{#each posts}}
  <div class="post">
    <p> 
      <img class="profile_picture" src="{{this.photo_link}}" alt="profile_picture">
      {{this.name}}- {{this.message}} - {{this.date_string}}
     </p>
    <!-- create a comment on the post -->
    <form id="new-comment-form" action="/posts/{{this._id}}" method="post">
      <input id="message" type="text" name="message" value="" placeholder="Comment here">
      <input type="submit" value="Submit">
    </form>
    {{#each this.comments}}
      <li class="comment">{{this.name}} - {{this.message}} - {{this.createdAt}}</li>
    {{/each}}
  </div>
  {{/each}}
</ul>
