<body>

  <h1>Timeline</h1>
  
  <ul class="posts"> 
    {{#each posts}}
    <div class="single-post">
    <li class="post-title">{{this.content}}</li>
    <li>{{this.like.length}}</li>
    <span>
      <form id="like-form" action="/" method="POST">
        <input id="submit" type="submit" value="ðŸ‘" />
      </form> 
    </span>

    <li>
    <input type="text" name="commment" id={{this.id}} placeholder="add comment here!"/>
      <button id={{this.id}} class="submit-comment" type="submit" value={{this.id}} >ðŸ’¬</button>
    </li>

  
    <!-- Add a like button -->
    </div>
    {{/each}}
  </ul>

 



<form id="new-post-form" action="/posts/new" method="get">
    <input type="submit" value="New Post" />
</form>

</body>