

<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li class="post">{{this.message}}<br>
    
    <button id="likes" type="submit" onclick="addLike('{{this.id}}');document.location.reload(true);">Like</button>

    {{this.date}}<br>
    {{this.userName}}
    <img src= {{this.profPic}} width="40" height="50">
    
    <div id="like_count">{{this.likes}}</div>
  </li>

  {{/each}}
</ul>

{{!-- added 2 functions to onclick. 1st function described in the script, 2nd function is inline code to reload page --}}

  {{!-- <a href = "/" class ="logo"> <img src="https://drive.google.com/uc?export=view&id=1uyftFRjePID-k80xmoFdTX8p6tKkIn3t" alt="logo" width="216" height="233"></a> --}}

<script>
function addLike(id)  {
    const b = {
      id: id
    }
    console.log(id)
    fetch("/posts/update", { body: JSON.stringify(b), method: "PUT", headers: { 'Content-Type': 'application/json' } });
  }
</script>

