<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div class = "posts-box">
  <li>{{this.message}}</li>
  <p id = "date"> {{this.created_at}} </p>
  <!-- <p>Edited: {{this.updated_at}}</p> -->
</div>

  <form action="/posts/delete/{{this._id}}" method="post">
    <input type="submit" value="Delete" />
  </form>

  <form action="/posts/edit/{{this._id}}" method="get">
    <input type="submit" value="Edit" />
  </form>

  <label> Likes: {{this.likes}} </label> <form action="/posts/like/{{this._id}}" method="post">
    <input type="submit" value="Like" />
  </form>

  <form action="/posts/comment/{{this._id}}" method="get">
    <input type="submit" value="Comment" />
  </form>
<p> Comments: </p>
<div class='array-output-wrapper'>
  <ul> {{#each this}}
      <li> {{this.comments}} </li>
    {{/each}}
    </div>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
