<h1>Timeline</h1>
<a class="new-post-link" href="/posts/new">New post</a>
<ul class="posts">
  {{#each posts}}
  <li>
  {{this.username}}
  <br>
  {{this.message}}
  <form id="comment" action="/posts/{{this.id}}" method="get">
  <input value="comment" type="submit">
  </form>
  <form action="/posts/likes/{{this.id}}" method="post"> 
    <input type="submit" value="likes">
  </form>
  {{this.likes.length}}

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
