<div class="whole-page-timeline">
  <div class="timeline">
    <div class="main-title">
      <h1>Timeline</h1>
    </div>

     <!-- New Post -->
    <div class="grey-div">
      {{#if error}}
        <div class="error">
          <p>{{error}}</p>
        </div>
      {{/if}}

      <form action="/posts" method="post" id="new-post-form" enctype="multipart/form-data">
        <textarea id="message" form="new-post-form" type="text" name="message" value="" placeholder="   What's on your mind?" rows="4"></textarea>

        <div class="post-buttons">
          <div class="post-buttons-left">
            <label for="img" class="new-post-link w3-button w3-theme w3-round-large" >
              Upload picture
            </label>
            <input id="img" type="file" name="image" accept="image/*" class="hidden">
          </div>

          <div class="post-buttons-right">
            <input id="post-button" type="submit" value="Post" name="upload" class="new-post-link w3-button w3-theme w3-round-large">
          </div>
        </div>

        <div class="flex-container">
          <img id="postpreview" src="" class="hidden">
        </div>
      </form>     
    </div>

    <!-- All Posts -->
    {{#each posts}}
      <div class="grey-div">
        <div id="pic-name-container">
          <div class="profile-pic">
            {{#if this.user_id.profile_picture}}
              <img alt="Avatar" id="timeline-profile-photo" class="w3-left w3-circle w3-margin-right" src={{this.user_id.profile_picture}}> 
            {{else}}
              <img alt="Avatar" id="timeline-profile-photo" class="w3-left w3-circle w3-margin-right" src="/images/cutie-pie.jpeg">
            {{/if}}
          </div>

          <div id="user-name">
            <h4>{{this.user_id.name}}</h4>
          </div>
        </div>

        <p>{{this.message}}</p>

        {{#if this.post_picture}}
          <img class="posted-picture" src={{this.post_picture}}>
        {{/if}}

        <div class="comments-container">
          {{#if liked}}
            <form action='/likes?_method=DELETE' method='POST'>
              <input type="hidden" name="post_id" value={{this._id}}>
              <input class="comments-buttons new-post-link w3-button w3-theme w3-margin-bottom w3-round-large like-button" type="submit" value="Un-Like: {{this.likes.likes_array.length}}">
            </form>
          {{else}}
            <form action="/likes" method="post">
              <input type="hidden" name="post_id" value={{this._id}}>
              <input class="comments-buttons new-post-link w3-button w3-theme w3-margin-bottom w3-round-large like-button" type="submit" value="Like: {{this.likes.likes_array.length}}">
            </form> 
          {{/if}} 

          <div class="comments-section-container" id="comments-container">
              <div class="comments-container">
                {{#each this.comments}}
                  <div class="comment-container">
                    <div class="comment-left">
                      {{#if this.user_id.profile_picture}}
                        <img class="w3-left w3-circle w3-margin-right" id="comment-pic" src={{this.user_id.profile_picture}}>
                      {{else}}
                        <img class="w3-left w3-circle w3-margin-right" id="comment-pic" src="/images/cutie-pie.jpeg">
                      {{/if}}
                    </div>  

                    <div class="comment-right">
                      <div class="comment-author">{{this.user_id.name}}</div>
                      <div class="comment-text">{{this.comment}}</div>
                    </div> 
                  </div>
              {{/each}}
            </div>

            <div class="comment-form-container">
              <form id="new-comment-form" action="/comments" method="post">
                <input class="comments-input" id="comment-input" placeholder="  Comment" type="text" name="comment" value="" required>
                <input id="post_id" name="post_id" type="hidden" value="{{this._id}}">
                <input id="comment-button" class="comments-buttons new-post-link w3-button w3-round-large" type="submit" value="Comment">
              </form>
            </div>
          </div>
        </div>
      </div>  
    {{/each}}
  </div>
</div>

<script>
  img.onchange = evt => {
    console.log('was here');
  const [file] = img.files
  if (file) {
    postpreview.src = URL.createObjectURL(file)
    postpreview.style.display = "block"
  }
}
</script>
