<h1 style = " color:#ffffff;text-shadow: 8px 8px 16px #f08fbf; ">Flamingo Lingo</h1>

<a class="new-post-link" href="/posts/new">New post</a><br><br>

{{#each posts}}
  <div style = "padding: 20px" class="posts">
    <div><b>{{this.posterName}}:</b>

    {{this.message}} <button style="border-radius: 20px;"  
  id={{this.id}} class="btnclick" onclick="CountLikes(this);" type="button" >Like &#128077;
  <p id="display">{{this.likes}}</p></button>

    <script type="text/javascript">
        var count = 0;
        function CountLikes(element) {
          fetch(`/posts/${element.id}/likes`, {
          method: 'POST',
          mode: 'cors',
          cache: 'no-cache',
          credentials: 'same-origin', 
          headers: {
            'Content-Type': 'application/json'
          },
          redirect: 'follow',
          referrerPolicy: 'no-referrer', 
        });
          element.getElementsByTagName('p')[0].innerText++
          console.log(element)
        }
    </script>
    <br>
    <br>
    <div class="comments">
      {{#each this.comments}}
      <div class="individual-comment">
      {{this.user}}: {{this.comment}} - {{this.datetime}}<br>
      </div>
      <br>
      {{/each}}
    </div>
    <div class="add-comments">
      <form action="posts/comment/new" method="post" id="comment-form">
        <input type="text" name="comment" id="comment" placeholder="Add a comment">
        <input type="hidden" name="postid" value="{{this._id}}">
        <input type="submit">
      </form>
    </div>
    <br>
  </div>
  <br>
  </div>
{{/each}}
