<body>
  <nav class="navbar">
    {{#if user}}
    <h6>You are signed in as: {{user.firstName}}</h6>
    {{else}}
    {{/if}}

    <header>
      <img href="http://localhost:3030/" class="post_logo" src="images/acebook_logo.svg" alt="">
      <p id="welcome">Welcome {{name}}</p>
    </header>

    <a href="/profile">Profile</a>
    {{!-- <img id="profile_image" src="{{user.image.imgPath}}" style="width:5%" alt="profile pic"> --}}

    <a class="a" href="/">Home</a></li>
    <a class="a" href="/posts">Posts</a></li>
    <a class="a" href="/posts/new">New posts</a></li>
    <a class="a" href="/sessions?_method=DELETE">Logout</a></li>

  </nav>





  {{!-- <div class="navbar"> --}}
    {{!-- <form action='/sessions?_method=DELETE' method='POST'>
      <input id="logout_post" type="submit" value="Log out">
    </form> --}}



    {{!-- <h1 class="title">{{title}}</h1> --}}

    {{!-- <a href="/profile">Profile</a> --}}
    {{!-- <p id="Welcome">Welcome {{name}}</p> --}}

    {{!-- </div> --}}


  <div class="flexbox">

    <form class="container_timeline">
      <div>
        <h1>Timeline</h1>
        <br>
        <ul class="posts">
          {{#each posts}}
          <li>{{this.message}}</li>
          {{/each}}
      </div>
    </form>

    <div class="container-post">
      <form id="new-post-form" action="/posts" method="post">
        {{!-- <label for="message">Whats on your mind? </label> --}}
        <input id="message" type="text" name="message" value="" placeholder=" Whats on your mind?">
        <input id="submit" type="submit" value="POST">

        <div id="blank-message">{{blank}}</div>
      </form>
    </div>
  </div>
</body>
