<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div class="post">
  <li class="post-elements">
    <tr class="post-text">
      {{this.message}}, {{this.firstname}}
      <small class="datestamp">Created at {{this.createdAt}}</small>
    </tr>
   <form id="delete-button" action="/posts/delete/{{ this.id }}" method="post">
      <button class="delete-button">Delete</button>
    </form>
    <tr>
    <form id="like-button" action="/posts/likes/{{this._id}}" method="post">
      <button class="like-button">Like</button> 
    </form>
      <div class="like-counter">
        {{this.likes}}
      </div>
    </tr>
    <form id="new-comment-form" action="/posts/comments/{{this.id}}" method="post">
      <input id="comment" type="text" value="" name="commentmessage" class="commentinput">
      <button class="comment-button">Comment</button>
    </form>
    <div class="comment-text">
      {{#each this.comments}}
        <li><div class="comment-message-text">{{this.commentMessage}}</div>
      {{/each}}
    </div>
  </li>
  </div>
  {{/each}}
</ul>

<form action="/posts/new">
  <input class="new-post-link" type="submit" value="New post">
</form>