<h1>Timeline</h1>
<ul class="posts"> 
  {{#each posts}}
  <li>Created at: {{this.createdAt}}</li>
  <br>
  <li>{{{this.username}}}</li>
  <br> 
  <li>{{{this.message}}}</li>
  <br>
  <li>{{{this.likes}}} likes</li>
  <br>
  <form id="likes-form" action="/posts/{{this._id}}/likes" method="post">
  <input type="submit" value="like">
</form>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
