<h1>Timeline</h1>
</br>
<a class="new-post-link" href="/posts/new">New post</a>
<ul class="posts">
  {{#each posts}}
  <li>
    {{!-- <img src="/users/{{ this.author }}/profilepicture" alt=""> --}}
    <p>{{ this.author }}</p>
    <p>{{idtotime this._id}}</p>
    <form action="/posts/edit/{{this._id}}" method="post">
      <input type="submit" value="Edit">
    </form>
    <p>{{this.message}}</p>
    {{#if this.photo}} <!-- display a photo is upload/none if not -->
      <img class="image" src="/upload/{{this.photo}}" />
    {{/if}}
    <form action="/posts/like" method="post">
      <input type="submit" value="Like">
    </form>
    <p id="like-count"></p> <!-- will be used later on to display number of likes -->
  </li>
{{/each}}
</ul>
