<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <div class="post">
    <p><!-- profile picture and user name (of the person who created the post) goe here --> - {{this.createdAt}}</p>
    <div>{{this.message}}
      <!-- create a like button and the number of likes -->
      <form method="POST" action="/posts/like">
        <input type="hidden" value="{{this._id}}" name="postId">
        <input type="hidden" value="{{../session.user._id}}" name="userId">
        <input type="submit" value="Like" id="like-button">{{this.likes.length}}
      </form>
    </div> 
    <!-- create a comment on the post -->
    <form id="new-comment-form" action="/posts/{{this._id}}" method="post">
      <input id="message" type="text" name="message" value="" placeholder="Comment here">
      <input type="submit" value="Submit">
    </form>
    {{#each this.comments}}
      <li class="comment">{{this.name}} - {{this.message}} - {{this.createdAt}}</li>
    {{/each}}
  </div>

  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>