<main id="posts-main">
  <h1 class="timeline-text">Timeline</h1>
  <form id="new-post-form" action="/posts" method="post">
    <label class="input-post" for="message"></label>
    <input id="message" type="text" name="message" placeholder="Talk To The Constable" required><br>
    <input class="post-submit-button" type="submit" value="Submit">
  </form><br>
  <ul class="posts">
    {{#each posts}}
    <li class="frm-textbox-yellow">
      {{this.message}}
      <form id="delete-post" action="/posts/remove" method="post">
        <input type="hidden" name="id" value="{{this.id}}">
        <input class="post-delete-button" type="submit" value="Delete">
      </form>
      <div class="name-and-image">
        <img class="picture-tag" src="https://i.postimg.cc/wjkhqDFy/Higher-res-mongoose.png" alt="mongoose-logo">
        <div class="name-tag">{{this.userName}}</div>
      </div>
      <div class="message-tag">{{this.message}}</div>
      <form id="add-comment-to-post" action="/posts/update" method="post">
        <div class="comment-and-image">
          <img class="picture-tag-comment" src="https://i.postimg.cc/wjkhqDFy/Higher-res-mongoose.png" alt="mongoose-logo">
          <input class="comment-text" id="comments" type="text" name="comments" value="" data-cy="comments" placeholder='Add A Comment' required>
          <input class="comment-submit-button" type="submit" value="Add">
        </div>
        <input type="hidden" name="id" value="{{this.id}}">
        
        <ul id="comments-list">
          {{#each this.comments}}
              <div class="comment-and-image">
                <img class="picture-tag-comment" src="https://i.postimg.cc/wjkhqDFy/Higher-res-mongoose.png" alt="mongoose-logo">
                <li class="frm-textbox-peach">{{ this }}</li>
              </div>
          {{/each}}
        </ul>
      </form>
    </li>
    {{/each}}
  </ul>
  <footer class="fb-footer">
    <div class="div-footer"></div>
  </footer>
</main>