<h1 class="text-center">Timeline</h1>
<h5 class="text-center"><a class="new-post-link" href="/posts/new">New post</a></h5>
<div class="container" id="posts">
  {{#each posts}}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative post" id="{{@index}}">
    <div class="col p-4 d-flex flex-column position-static">
      <h6 class="mb-2 user_name">{{this.user_name}}:</h6>
      <p class="card-text mb-2 message">{{this.message}} </p>
      <div class="d-flex flex-row-reverse justify-text-center">
        {{#if this.liked }}
        <form action="/likes?_method=DELETE" method="POST"></form> 
        <button type="submit" class="btn btn-outline-secondary btn-sm like active">
        {{else}} 
        <form action="/likes" method="POST">
        <button type="submit" class="btn btn-outline-secondary btn-sm like">
        {{/if}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        </button>
        <input type="hidden" name="post_id" value="{{this._id}}">
      </form>
        <span class="mr-2 like-counter">{{ lookup ../likeCount this._id }}</span>
      </div>
    </div>
  </div>
  {{/each}}
</div>
