<a class='new-post-link' href='/posts/new'>New post</a>
<h1>Timeline</h1>
<main class='posts'>
  {{#each posts}}
    <div class='card mx-auto'>
      <div class='card-body'>
        <div class='d-flex'>
          <img
            class='post-profile-photo'
            src='https://png.pngitem.com/pimgs/s/111-1114718_transparent-sleep-icon-png-person-icon-circle-png.png'
          />
          <div>
            <p class="card-title">{{this.posterName}}</p>
            <p><small class="text-muted">{{this.dateString}}</small></p>
          </div>
        </div>
        <div>
          <p class='card-text'>{{this.message}}</p>
        </div>
      </div>
      {{#if this.imageLink}}
        <div class='card-img-bottom'>
          <img src={{this.imageLink}} class='post-img' alt='post image' />
        </div>
      {{/if}}
      <div class="like-div container mx-auto" id="like-{{this._id}}">
        <div class="d-flex justify-content-center">
          <div class="d-flex col-sm-12 justify-content-end">
            <p class="like-counter" style="margin-right: 10px;"><small class="like-number">{{this.postLikes}}</small><small> likes</small></p>
            <button class="like-button" onclick="addLike('{{this._id}}')">
              <img src="/images/like.png" height="15" width="15">
              <span class="like-text">{{#if this.postLiked}}Liked{{else}}Like{{/if}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  <script src="interface.js"></script>
</main>