<h1 class="title">Post Timeline</h1>
<a class="new-post-link" href="/posts/new">New post</a>

<ul class="posts">
  {{#each posts}}
  <div class="post-container">
    <li class="each-message">{{this.message}}<br>{{this.date}}<br>
      <form action="users/profile" method="post" class="profile-link">
        <input name="email" type="hidden" value="{{this.user}}"><input name="id" type="hidden" value="{{this._id}}"><input type="submit" id="{{this.user}}" value="{{this.user}}">
      </form>
      <form action="/posts/delete" method="post" class="delete">
        <input name="_id" type="hidden" value="{{this._id}}"><input style="background-color=transparent" name="delete" type="submit" value ="ðŸ—‘ï¸">
        </form>
    </li>
    <br>
    <div class="like-container">
      <form action="/posts/updateLikes/{{this.id}}" method="post">
        <button id="like-button">
          Like
        </button> <span id="like-counter">{{this.likes.count}}</span>
      </form>
    </div>
  </div>
  
  <div class = "comments">
    <form action="/posts/comment/{{this._id}}" method="get">
      <button id="comment-button">
        Comment
      </button>
    </form>
    <h3> Comments: </h3>
    <div class='comment-container'>
      <ul class="Comment-List">
        {{#each this.comments}}
          <li id="commenting"> {{this}} </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/each}}
</ul>
