<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <form action="/posts/{{this._id}}?_method=DELETE" method="post">
    <li>{{this.message}}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="delete-button"><i class="fas fa-trash-alt fa-1x"></i></button>
        <a class="update-post-link" href="/posts/update/{{this._id}}">Update post</a>
    </li>
  </form>
  <!-- <div>
    <button id="like-button">
      <i class="fas fa-thumbs-up fa-2x"></i>
    </button>
    <span id="like-counter"></span>
    <button id="dislike-button">
      <i class="fas fa-thumbs-down fa-2x"></i>
    </button>
    <span id="dislike-counter"></span>
  </div> -->
  <ul style="list-style-type:none"><li>Likes: {{this.postLikeCounter}}, Dislikes: {{this.postDislikeCounter}}</li></ul>
  <div>
  <form action="/posts/updateLikes/{{this.id}}" method="post">
    <button id="like-button">
      <i class="fas fa-thumbs-up fa-2x"></i>
    </button>
  </form>
  <form action"/posts/UpdateDislikes/{{this.id}}" method="post">
    <button id="dislike-button">
      <i class="fas fa-thumbs-up fa-2x"></i>
    </button>
</form>
</div>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
