<h1>Timeline</h1>
{{! all posts }}
<ul class="posts">
  {{#each posts}}
    {{! a post }}
    <ul id={{this._id}} class="post">
      {{#if this.message}}
        <li class="post-content">{{this.message}}</li>
      {{/if}}
      {{#if this.image.data}}
        <li><img
            class="post-image"
            src="{{formatImage this.image.contentType this.image.data}}"
          /></li>
      {{/if}}
      <li class="post-author">
        By
        <a href="/users/{{this.author._id}}"> {{this.author.name}}</a>
      </li>
      <li><img
          class="author-post-image"
          src="{{formatImage
            this.author.image.contentType
            this.author.image.data
          }}"
        /></li>
      <li class="post-date">On {{formatDate this.createdAt}}</li>
      <li class="likeCount">{{formatLikesNumber this.like.length}}</li>
      <form class="like" action="/posts/like" method="post">
        <input class="postid" type="hidden" value={{this._id}} name="postid" />
        <input class="submit" type="submit" value="like" />
      </form>
      {{! all comments }}
      <li class="comments">
        <p>Comments</p>
        {{#each this.comments}}
          {{! a comment }}
          <ul id={{this.id}} class="comment">
            <li><img
                class="author-comment-image"
                src="{{formatImage
                  this.author.image.contentType
                  this.author.image.data
                }}"
              /></li>
            <li class="comment-content">{{this.message}}</li>
            <li class="comment-author">By {{this.author.name}}</li>
            <li class="comment-date">On {{formatDate this.createdAt}}</li>
          </ul>
        {{/each}}
      </li>
      <form class="comment-form" action="/posts/comments" method="post">
        <input class="postid" type="hidden" value={{this._id}} name="postid" />
        <input class="comment-input" name="content" required />
        <input class="submit-comment" type="submit" value="comment" />
      </form>
    </ul>
  {{/each}}
</ul>