<div class = "text-box">
  <form action="/posts/new">
      <input type='submit' value="New Post" class="button1">
  </form>
  <h1>Timeline</h1>
  <ul reversed class="posts">
    {{#each posts}}
    <div class="post">
      <li>
        <div class="creator">
          <img src="/users/{{ this.email }}/profilepic" height="100"/><p>{{this.creator_first_name}} {{this.creator_last_name}}</p>
        </div>
        <div class="dateCon">
          <small>{{dateFormat this.created_at}}</small>

        </div>
        {{#if this.img.data}}
          <div class="imageClass">
            <img src="{{dataImage this.img}}" height="200"/>
          </div>
        {{/if}}
        <div class="messageCon">
          {{this.message}} 
        </div>

        <div class="formCon" id="timelineLike">
          <form id="like-button" action="/posts/like" method="post">
            <input type="hidden" id="message" name="message" value="{{this.message}}">
            <input type="hidden" id="likes" name="likes" value="{{this.likes}}">
            <input type="submit" value="Like">
          </form>
          <form id="unlike-button" action="/posts/unlike" method="post">
            <input type="hidden" id="message" name="message" value="{{this.message}}">
            <input type="hidden" id="likes" name="likes" value="{{this.likes}}">
            <input type="submit" value="Unlike">
          </form>
        </div>
        <div class="likeCon">Likes {{this.likes}}</div>
      </li>
    </div>
  {{/each}}
</ul>
</div>

