<h1>Timeline</h1>
<a class="new-post-link" href="/posts/new">New post</a>
<a class="exit-link" href="/exit">Log Out</a>
<div class="posts">
  {{#each posts}}
  <div><h5>{{this.date}}</h5></div>
  <p> {{this.user}} </p>
  <p>{{this.message}} <span>
  <form method="post" action="/posts/like"> 
      <input type="hidden" name="id" value="{{this._id}}">
  <button type="submit">{{this.likes}} Likes </button></form></span>
  </p><br>
  {{#each this.comments}}
  <p>{{this.user}}</p>
  <p>{{this.comment}}</p>
  {{/each}}
  

     <form method="post" action="/posts?_method=DELETE"> 
      <input type="hidden" name="id" value="{{this._id}}">
   <button type="submit">Delete</button></form><br>

<form id="comment-box" action="/posts/comment" method="post">
  <input type="hidden" name="id" value="{{this._id}}">
  <textarea name="comment" rows="2" cols="15" placeholder="Type Comment Here"></textarea><br>
  <input type="submit" value="Submit">
</form>

  {{/each}}
  
</div>
