<div class="page-container"><h1 class="timeline_header">{{username}}'s Timeline</h1>

 <a id="change_profile_photo" href='/users/photo' class="" style="text-decoration: none">Change Profile Photo</a> 
  <img class="profile-photo-header"  src={{profilePhotoPath}}>

 <form id="new-post-form" action="/posts" method="post">
  <div class="new-message-form">
    <input id="message" type="text" name="message" placeholder="What's on your mind?" value="">
    <input class="button-5" type="submit" value="Submit">
    </div>
  </form>
<div class="posts">
  {{#each posts}}
  <div class="post"> 
    <div class="post_contents">
      <div class="author_container">
        <img class="profile-photo" src={{this.author.profilePhotoPath}}>
        <div class="username">{{this.username}}</div>
      </div>
      <div class="message_container">  
        <div class="post-message">
          {{this.message}}
        </div>
      </div>
      <div class="like-bar-container">
      <form class="like-form" id="{{this._id}}" data-user-id="{{user_id}}" action="/posts/add_like" method="post">
           <input id="user_id" type="hidden" value="{{user_id}}">
           <input id="post_id" type="hidden"  value="{{this._id}}">
           <button class="add-like-button" type="submit" value="Like"><i class="fa-regular fa-thumbs-up"></i></i></button>
          </form> <div class="likes_container">
         Likes:
        
        <div class="likes-count">{{this.likes.length}}</div>
       </div></div>
      {{#each this.comments}}
      <div class="comment_container">
        <div class="comment">
          {{this.message}}
        </div>
      </div>
      {{/each}}
      <div class="footer">
        <form  id="new-comment-form" class="comment-form" action="posts/create_comment" method="post">
          <input class="post_id" type="hidden" name="post_id" value="{{this._id}}">
          <input class="user_id" type="hidden" name="user_email" value="{{../user_id}}">
          <input class="comment-input" type="text" name="message" value="" placeholder="Write a comment...">
          <input class="button-5" type="submit" value="Add comment">
        </form>
      </div>
    </div>

  </div>
  {{/each}}
</div></div></div>
  <script type="text/javascript" src="javascripts/likes_dom.js"></script>

