<form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form>
<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>
    <p>{{this.postAuthor.firstName}} {{this.postAuthor.lastName}} posted:</p>
    <a href="/posts/{{this._id}}">{{this.message}}</a>
    
    <button class="likeButtonTimeline" data-postid="{{this._id}}">Like</button>
    <span id="likesCount-{{this._id}}">{{this.likes.length}}</span> likes
  </li>
{{!-- <li>{{this.timestamp}}</li> --}}
  <li><a class="edit">Posted: {{timeSince(this.timestamp)}} ago | {{this.createdAt}}</a></li>
  {{/each}}
</ul>


<a href="../profile">My profile</a>

<script>
  const likeButtonsTimeline = document.querySelectorAll('.likeButtonTimeline');

  likeButtonsTimeline.forEach(button => {
    button.addEventListener('click', () => {
      const postId = button.getAttribute('data-postid');
      const likesCountElement = document.getElementById(`likesCount-${postId}`);

      // Disable the like button
      button.disabled = true;

      fetch(`/posts/${postId}/like`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          likesCountElement.textContent = data.likesCount;
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          // Re-enable the like button after the request is completed
          button.disabled = false;
        });
    });
  });
</script>


<a class="new-post-link" href="/posts/new">New post</a>
