<h2 class="title">Post Timeline</h2>
<a class="new-post-link" href="/posts/new">New post</a>

<ul class="posts" style="background-color:rgba(255,255,255,0.75); padding: 4%;">
  {{#each posts}}
  <div class="post-container">
    <li class="each-message" style="padding: 4%;">{{this.message}}<br>{{this.date}}<br> {{#if this.recipient}} To {{this.recipient}} {{/if}}
      <div class="parent">
        <div class="child">
          <form action="users/profile" method="post" class="profile-link">
            <input name="email" type="hidden" value="{{this.user}}"><input name="id" type="hidden" value="{{this._id}}"><input type="submit" id="{{this.user}}" value="{{this.user}}">
          </form>
        </div>
        <div class="child">
          <form action="/posts/delete" method="post" class="delete">
            <input name="_id" type="hidden" value="{{this._id}}"><input style="background-color=transparent" name="delete" type="submit" value ="ðŸ—‘ï¸">
          </form>
        </div>  
      </div>
    </li>
    <br>
    <div class="like-container">
      <form action="/posts/updateLikes/{{this.id}}" method="post">
        <button id="like-button">
          Like
        </button> <span id="like-counter">{{this.likes.count}}</span>
      </form>
    </div>
  </div>
  
  <div class = "comments">
    <form action="/posts/comment/{{this._id}}" method="get">
      <button id="comment-button">
        Comment
      </button>
    </form>
    <h4 style="color: #fff;">Comments: </h4>
    <div class='comment-container'>
      <ul class="Comment-List">
        {{#each this.comments}}
          <li id="commenting"> {{this}} </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/each}}
</ul>
