<h1>Timeline</h1>
<a class="profile-link" href="/users/{{userId._id}}">{{userId.username}}</a>

<ul class="posts">
  {{#each posts}}

  <li>{{this.message}} - {{dateFormat this.createdAt "DD-MM-YYYY, HH:mm:ss"}} - {{#each this.author}}{{this.username}}{{/each}}
    {{#each images}}
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
    <img src="{{this.url}}" alt="image" class="class img-fluid" width="100" height="100" ;>
    {{/each}}
            </div>
        </div>
    </div>
    
    <form action='/posts/{{this.id}}/delete' method='post'>
    <input type='submit' value='Delete'>
    </form>
    <form action='/posts/{{this.id}}/edit' method='get'>
    <input type='submit' value='Edit'>
    </form>
  </li>

  {{/each}}
</ul>

<form action="/posts/sorted" method="get"> 
  <input type="submit" value="Sort">
</form>


<form id="search-post-form" action='/posts/search' method='get'>
  <input type="text" name="search"  name="search" />
  <input type="submit" value="Search"></input>
</form>


<a class="new-post-link" href="/posts/new">New post</a>

<form id="log-out-form" action="/users/logout" method="post">
  <button value = "Log Out">Log out</button>
</form>