<body>
  <div class="container">
    <header>

      <div class="navbar">
        <div class="logo-container">
          <a href="/"><img  class="logo" src="./images/acebook_icn_wht.png" alt="LogoIcon"></a>
        </div>
        <div class="link-container">
          <a class="link" href="#0">Hello, {{user.firstName}}!</a>
          <a class="link" href="#0">Home</a>
          <a class="link" href="#0">Create</a>
          <a class="link" href="/user/logout">Log Out</a>
          <a href="/" class="logo"></a>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <aside class="sidebar">
        <h3></h3>
      </aside>
      <section class="main">
        <form id="new-post-form" action="/posts" method="post">
          <input id="message" class="postBox" placeholder="What's on your mind, {{user.firstName}}?" type="text" name="message" value="" required >
          <input class="postButton" type="submit" value="Post">
        </form>

        <div class="posts">
          {{#each data}}
            
          <div a href="/posts/{{id}}" class="postCard">
            <img src="./images/blank_profile.jpg" alt="Avatar">
            <a href = "/user/{{userId}}" class="postOwner">{{this.user}}</a> 
            <p class="postTime">{{this.timeDate}}</p>
            <p>{{this.message}}</p>
          </div>

          {{/each}}
        </div>

      </section>
    </div><!-- /wrapper -->

    <footer>
      <h3></h3>
      <p></p>
    </footer>
  </div>
  <!-- /container -->
