<div class="body_not_navbar">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<h1>Timeline</h1>

  <a class="new-post-link" href="/posts/new">Create a new post</a>
  <br>
  <a class="upload-photo" href="/images/upload">Upload a photo</a>
  <br>
<br>

{{#each posts}}
<br>
<div class="card text-center w-75">
  <div class="card-header">
    <h5>USER: <a href="/users/profile/{{this.user._id}}">{{this.username}}</a></h5>
    <img id="profilepic" src="{{user.profilepic}}">
  </div>
  <div class="card-body">
    <p class="card-title"><b>Message:</b> {{this.message}} </p>
    <p class="card-title"><b>Likes:</b> {{this.likes}} </p>
    <form action="/posts/{{this._id}}/like" method="post"><button type="submit">Like!</button></form>
    </div>
    <p class="card-title"><a class="comments card-title" href="/posts/{{this._id}}">{{this.commentCount}} comments</a></p>
  {{#if this.image}}
  <img id="postpic" src="/uploads/{{this.image}}">
  {{/if}}
  <form class="card-title" method="POST" action="/posts/{{this._id}}/delete?_method=DELETE">
    <input class="form-control me-2" type="submit" value="Delete">
  </form>
  
  </div>
{{/each}}

{{!-- <p>Start</p>
{{#each images}}
  <img src="{{this.link}}">
{{/each}}
<p>End</p> --}}
</div>
