<div id="post-box" class="container">
<h1>Timeline for {{ name }} </h1>
 <h4 class="name">{{user.name}}</h4>

<div class="posts" >
  {{#each posts}}
  <div>
    <img src=/uploads/images/{{this.user.image}} style="height:60px; width:60px;">
    <a href="/profile/viewperson/{{this.user._id}}">{{this.user.name}}</a> <br>
   {{this.message}}  <br>
   {{#if this.imagePath}}
  <img height="200" src="{{this.imagePath}}"> <br> 
   {{/if}}
  <div id="createdAt">{{this.postedAt}}</div> <br> 
  <form action="/posts/like/{{this._id}}" method="post" id = "like_{{this._id}}">
    <input type="hidden" name="prevRoute" value="posts">
    <button id="like" name="postId" value="{{this._id}}">Like</button>
  </form> 
  <div id="likecount">{{this.likes}}</div> 
  </div>
  <br>
  {{> comments}}
  {{/each}}
</div>
</div>
