<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li>
      <div class="post">
        <ul>
          <li>{{this.author.name}}</li>
          <li>{{formatDate this.createdAt}}</li>
          <li>{{this.message}}</li>
          <li class="likeCount">{{formatLikesNumber this.like.length}}</li>
          <form class="like" action="/posts/like" method="post">
            <input
              class="postid"
              type="hidden"
              value={{this._id}}
              name="postid"
            />
            <input class="submit" type="submit" value="like" />
          </form>
        </ul>
      </div>
    </li>
  {{/each}}
</ul>