<script>
  var updatePostStats = {
    Like: function (postId) {
      document.querySelector('#likes-count-' + postId).textContent++;
    },
    Unlike: function (postId) {
      document.querySelector('#likes-count-' + postId).textContent--;
    }
  }

  var toggleButtonText = {
    Like: function (button) {
      button.classList.remove('fa-regular');
      button.classList.add('fa-solid');
    },
    Unlike: function (button) {
      button.classList.remove('fa-solid');
      button.classList.add('fa-regular');
    }
  }

  var actOnPost = function (event) {
    var postId = event.target.getAttribute("postId");
    var action = event.target.classList.item(1) == 'fa-regular' ? "Like" : "Unlike";
    toggleButtonText[action](event.target);
    updatePostStats[action](postId);
    updateLikes(postId, action);
  }

  async function updateLikes(postId, action) {
    let postUpdate = {
      postId: postId,
      action: action
    };

    let response = await fetch('/posts/like', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },

      body: JSON.stringify(postUpdate)
    });

    let result = await response.json();
    alert(result.message);
  }
</script>


<div class="container">
  <h1>Timeline</h1>
  <ul class="posts">
    {{#each posts}}

    <div>
      <!--author holds user object, author.name refers to name of the user-->
      {{ this.author.name }} says:<br>
      <li>{{this.message}}</li>
      <i class="fa-thumbs-up {{this.likedByMe}}" aria-hidden="true" postId="{{this._id}}"
        onclick="actOnPost(event)"></i>
      - <span id="likes-count-{{this._id}}">{{this.likesCount}}</span> likes
    </div>


    {{/each}}
  </ul>

  <a class="new-post-link" href="/posts/new">New post</a>
</div>
