
<h1>Timeline for {{ name }} </h1>
 <h4 class="name">{{user.name}}</h4>
<ul class="posts">
  {{#each posts}}
  <div>{{this.posted_by}} <br>
  {{this.message}}     -      {{this.postedAt}} <br>
  <a href="/post/like">Like</a> - {{this.likes}} 
  </div>
    <br>
  {{/each}}
<div>

<a class="new-post-link" href="/posts/new">New post</a>
<a class="view-profile-link" href="./users/profile">Profile</a>

