<div class="body-container text-center pb-5">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Acebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/profile/user/{{user.username}}">{{user.username}}</a>
        <a class="nav-link" href="/search">Search</a>
        <form action="/sessions?_method=DELETE" method="POST">
         <input class="sign-out-nav nav-link" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
  </div>
</nav>



<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li class="post">
      <div class="timestamp-wrapper">
          {{this.timestamp}}
      </div>
      <div class="username-wrapper">
        <a href="/profile/{{this.username}}">{{this.username}}</a>
      </div>
      <div class="message-wrapper">
        {{this.message}}
      </div>
      {{#if this.image}}
      <div class="image">
        <input type="hidden" name="id" value={{this._id}} />
        <img src={{this.image}}>
      </div>
      {{/if}}
      
      <form class="delete-post" action="/posts/delete" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input type="submit" value="Delete" />
      </form>

      <div class="likes-wrapper">
      {{#if this.likes}}
      <div class="likes">
       Likes: {{this.likes.length}}
        </div>
      {{/if}}
      </div>
    
      <form class="like-post" action="/posts/like" method="post">
        <input type="hidden" name="id" value={{this._id}} />
        <input type="submit" value="like" />
      </form>

      {{#if comments}}
      <button id="show-comments" onclick="showComments()">
        show comments
      </button>
      {{/if}}
      
        <div class="comments d-none">
          <ul>
          {{#each comments}} 
            <li id="post-comment"> {{this}} </li>
          {{/each}} 
          </ul>
         
        </div>
    

        <form id="enter-comment" action="/posts/comment" method="post">
          <input type="text" id="comment" name="comment" value="" placeholder="Write a comment here..." />
          <input type="hidden" name="id" value={{this._id}} />
          <input type="submit" value="Comment">
        </form>
     
       </li>
    </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
</div>