<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <div class="post-feed-container">
    <h1>Timeline</h1>
    <a class="new-post-link" href="/posts/new">New post</a>

    <div class="posts">
      {{#each posts}}
        <div class="post" id="post-{{this._id}}">
          <div class="post-div-container" id="post-div-container-{{this._id}}">
            <ul>
              <li
                class="username"
                onclick="location.href=`/profiles/{{this.user_id.username}}`"
                style="cursor:pointer;"
              >@{{this.user_id.username}}</li>

              <li class="message">{{this.message}}</li>
              <li class="time">{{this.time_posted}}</li>
            </ul>
          </div>

          <div class="post-likes-container">
            <div
              class="post-like-counter"
              id="counter-{{this._id}}"
            >{{this.likes.length}}</div>
            <button
              class="post-like-button liked-{{this._doc.likedByCurrentUser}}"
              id="button-{{this._id}}"
              onclick="likeOnClick('post', '{{this._id}}')"
            >
            </button>

            <div class="comment-counter" id="comment-counter-{{this._id}}">
              {{this.comments_counter}}
              <img id="comment_image" src="/images/comment-bubble.png" />
            </div>

            <a class="new-comment-link" href="/comments/{{this._id}}">Write a
              comment</a>

          </div>

          {{#if this._doc.belongsToCurrentUser}}
            <div class="post-delete-div" id="post-delete-div-{{this._id}}">
              <button
                class="post-delete-button"
                id="post-delete-button-{{this._id}}"
                onclick="deleteOnClick('post', '{{this._id}}')"
              >Delete Post</button>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</body>
