<h1>Timeline</h1>
<ul class="posts">
  <form id="new-post-form" action="/posts" method="post">
    <label for="message">Message: </label>
    <input id="message" type="text" name="message" value="">
    {{!-- <input type="hidden" name="userId" value="{{this.}}"> --}}
    <input type="submit" value="Submit">

  </form>

  {{#each posts}}
  <li>
    {{this.userName}}
    {{this.message}}
    <form id="add-comment-to-post" action="/posts/update" method="post">
      <input id="comments" type="text" name="comments" value="" data-cy="comments" placeholder="Add a comment!">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" value="Add a comment">
      <ul id="comments-list">
        {{#each this.comments}}
            <li>{{ this }}</li>
        {{/each}}
      </ul>
    </form>
  </li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
