
<ul class="posts">

<div class="timeline"><h1>Timeline</h1></div>

<div class="new-post">
<form id="new-post-form" action="/posts" method="post">
  <textarea class="new-field" id="message" name="message" rows="4" placeholder="{{this.user.first_name}}, enter a useless thought that no one cares about..." required></textarea>
  <input class="post-button" type="image" src= "/images/funny-zuck.png" >
  
</form>
</div>

 {{#each posts}}
<div class="card">
  <div class="post-user">
   <li><small style= "font-size:0.7em"><a href="/users/{{this.user.email}}">{{this.user.email}}</a> </small></li>
  </div>
   <div class="post-date" style = "position:sticky; left:100%;";>
    <li><small style= "font-size:0.7em">{{formatDate this.createdAt}}</small></li>
  </div>
  <div class="post-message">
    <li>{{this.message}}</li>
  </div>
  <br>
 
  {{#if (ifEqual ../user.email this.user.email)}} 
    <form action='/posts/{{this.id}}?_method=DELETE' method='POST'>
    <div class="btn-text-right">
      <button class="dltbtn"><i class="fa fa-trash"></i></button>
    </div>
    </form>
  {{/if}}
    {{#if (userLike this ../user)}}
    <form action='/posts/{{this.id}}/unlike' method='POST'>
      <div class="btn-text-left">
        <button class="unlikebtn" > <i class="fa fa-thumbs-down"></i> </button>
      </div>
    </form>
    {{else}}
    <form action='/posts/{{this.id}}/like' method='POST'>
      <div class="btn-text-left">
        <button class="likebtn" > <i class="fa fa-thumbs-up"></i> </button>
      </div>
    </form>
    {{/if}}

<br>
  {{#if (ifLikesZero this ../post)}}
  <div class="post-likes">
    <a  style="text-decoration:none; color: inherit;" href="/posts/{{this.id}}">{{this.likesCount}}</a> {{#if (ifEqual this.likesCount 1)}} Like {{else}} Likes {{/if}}
  </div>
    {{/if}}

  <form action="/posts/{{this._id}}/comment" method="POST">
    <input class="new-comment" type="text" name="comment" placeholder="Comment.." required>
    <input class="post-comment" type="submit" value="Post Comment">
    <input type="hidden" id="custId" name="custId" value={{this.id}}>
  </form>
  
  <div class="comments">
    <br>
  <div class="no-of-comments">
    {{this.comments.length}} {{#if (ifEqual this.comments.length 1)}} Comment {{else}} Comments {{/if}}
    </div>
  <br>{{#each comments}}
  <div class="post-comment-box">
  {{this.message}}
  </div>
  <br>
  {{/each}}
  </div>

</div>
{{/each}}
</ul>

