<section class="timeline-section">
  <ul class="posts">
    {{#each posts}}
      <li class="post-item">
        <div class="post-message">{{this.message}}</div>
        <p class="post-author">Written by {{this.username}}</p>
        <div class="actions">
          <form action="/friends" method="post">
            <input type="hidden" name="recipientId" value={{this.user}} />
            <button type="submit" class="befriend-button">Poke</button>
          </form>
          <form action="/likes" method="post">
            <input type="hidden" name="postId" value={{this._id}} />
            <button type="submit" class="like-button">❤️</button>
          </form>
        </div>
        <div class="post-likes">
          {{this.likesCount}}
          likes
          <div class="liked-by-tooltip">
            {{#each this.likedBy}}
              <div>{{this}}</div>
            {{/each}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

  <a class="new-post-link" href="/posts/new">New Post</a>
</section>