<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <table class="post">
  <li class="post-elements">
    <tr class="post-text">
      {{this.message}}, {{this.firstname}}
    </tr>
   <form class="button" id="delete-button" action="/posts/delete/{{ this.id }}" method="post">
      <button class="delete-button">Delete</button>
    </form>
    <tr>
      <form id="like-button" action="/posts/likes/{{this._id}}" method="post">
        <button class="like-button">Like</button> 
      </form>
      <td class="like-counter">
        {{this.likes}}
      </td>
    </tr>
  </li>
  </table>
  {{/each}}
</ul>

<form action="/posts/new">
  <input class="new-post-link" type="submit" value="New post">
</form>





