
<p>Hello.Welcome to your profile page.</p>

<p>Name: {{current_user}}</p>
<p>Profile Picture:</p>
<p>DOB: {{current_user_dob}}</p>
<p>Number of Posts:</p>

<ul class="posts">
  {{!-- looks through the posts table --}}
  {{#each posts}}
  {{!-- {{#when this.user_id.email 'eq' req.session.user.email }} --}}
     <li>{{this.message}}</li> 
      <li>{{this.likes}} likes</li>
      <li>{{this.user_id.first_name}}</li>
      <li>{{dateFormat this.createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</li>
      <li>{{this.user_id.email}}</li>
      <br>
 {{!-- {{/when}} --}}
 {{/each}}
</ul>
