
<p>Hello.Welcome to your profile page.</p>

<p>Name: {{current_user}}</p>
<p>Profile Picture:</p>
<p>DOB: {{current_user_dob}}</p>
<p>Number of Posts:</p>

{{current_user_profilepicture}}

<img src="data:profile_pictures/{{current_user_profilepicture.contentType}};base64,
                     {{String.fromCharCode(current_user_profilepicture.data.data)}}">


<ul class="posts">
  {{!-- looks through the posts table --}}
  {{#each posts}}
     <li>{{this.message}}</li> 
      <li>{{this.likes}} likes</li>
      <li>{{dateFormat this.createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</li>
      <br>
 {{/each}}
</ul>
