<h1>Welcome to your profile page!</h1><br>

<div class="profile">
  <div>
    <img class='profile-pic' src="data:image/png;base64, {{current_user_profilepicture}}" >
  </div>
  <div><br><br>
    <p>Name:<br><span> {{current_user}}</span></p>
    <p>DOB:<br><span> {{current_user_dob}}</span></p>
  </div>
</ul>
</div>
<ul class="user-posts">
  {{!-- looks through the posts table --}}
  {{#each posts}}
      <ul>{{this.message}}</ul> 
      <ul>{{this.likes}} likes</ul>
      <ul>{{dateFormat this.createdAt "dddd, MMMM Do YYYY, h:mma"}}</ul>
      <br>
 {{/each}}
</ul>