<form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out"></form>

<h1>{{ post.message }}</h1>

{{#if post.image.data}}
  <img src="/posts/{{post._id}}/image" width="1000px">
{{/if}}
<p>Author: {{ post.postAuthor.firstName }} {{ post.postAuthor.lastName }}</p>
<p>Posted at: {{post.timestamp}}</p>

    <button class="likeButton" data-postid="{{ post._id }}">Like</button>
<span id="likesCount-{{ post._id }}">{{ post.likes.length }}</span> likes

<script>
  const likeButtons = document.querySelectorAll('.likeButton');

  likeButtons.forEach(button => {
    button.addEventListener('click', () => {
      const postId = button.getAttribute('data-postid');
      const likesCountElement = document.getElementById(`likesCount-${postId}`);

      fetch(`/posts/${postId}/like`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          likesCountElement.textContent = data.likesCount;
        })
        .catch(error => {
          console.log(error);
        });
    });
  });
</script>

<ul class="comments">
  {{#each post.comments}}
 
  <span>{{ this.message }}</span>
  <span>{{this.author}}</span>
  <span>{{ timeAgo this.commentTime }}</span><br>
  {{/each}}
</ul>

<form action="/posts/{{ post._id }}/comments" method="POST">
  <textarea name="message" input="text" placeholder="Leave a comment"></textarea>
  <button type="submit">Submit</button>
</form>



