<form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out"></form>

<h1>{{ post.message }}</h1>
<p>Author: {{ post.author }}</p>
<p>Likes: {{ post.likes }}</p>


<ul class="comments">
  {{#each post.comments}}
  <li>{{ this.message }}</li>
  {{/each}}
</ul>

<form action="/posts/{{ post._id }}/comments" method="POST">
  <textarea name="message" placeholder="Leave a comment"></textarea>
  <button type="submit">Submit</button>
</form>



