<%- include ('../partials/header.ejs') %>
<%- include ('../partials/body.ejs') %>

<div>
    <h1>Activities</h1>
    <% trip.activity.forEach((activity) => {%>
      <li class="message"> <%=activity %> </li>
        <%});%>
    <form id="activity" action="/trips/itinerary/<%=trip.id%>" method="post">
      <input id="activity" type="text" name="activity" required>
      <input type="submit" value="Add activity">
    </form>


    <% dates.forEach((date) => {%>
      <li> <%= date %> </li>
        <%});%>
  </div>
