<%- include ('../partials/header.ejs') %>
<%- include ('../partials/body.ejs') %>

<div>
  <div class='trip-title'>
    <h1>Itinerary for <%=username%>'s trip to <%= trip.destination %></h1>
  </div>
  <form class='btn' id="edit-button" action="/trips/view/<%=trip.id%>">
    <input type="submit"  value="Return to trip page">
  </form>
    <% var i = -1 %>
    <% dates.forEach((date) => {%>
      <h4><%= date.toDateString() %></h4>
    <% trip.activities.forEach((activity) => {%>
      <% i++ %>
        <% if (activity.eachDate.toString() === date.toString()){%>
      <li class="message" id="activity-item">  <%= activity.activities %> </li>
      <form id="delete-activity" action="/trips/delete-activity/<%=trip.id%>/<%=i%>" method="post">
          <input type="hidden" id="activity-date" name="eachDate" value="<%=date%>">
            <input type="hidden" id="activity" name="activity" value="<%=activity.activities%>">
        <input type="submit" value="Delete">
      </form>
      <%}%>
        <%});%>
    <form id="activity" action="/trips/add-activity/<%=trip.id%>" method="post">
      <input id="activity" type="text" name="activity" placeholder='Add a new activity' required>
      <input type="hidden" id="activity-date" name="eachDate" value="<%=date%>">
      <input type="submit" value="Add">
    </form>
    <%});%>
  </div>

<%- include ('../partials/footer.ejs') %>
