<%- include ('../partials/header.ejs') %>
<%- include ('../partials/body.ejs') %>
<h1><%=username%>'s trip to <%= trip.destination %></h1>

<div>
  <h3>Dates</h3>
  <p>Start date: <%=trip.startDate.toISOString().slice(0,10);%></p>
  <% if (editDate === true){%>
    <form id="edit-start-date-form" action="/trips/edit/<%=trip.id%>" method="post">
      <input id="start-date" type="date" name="startDate" required>
      <input type="submit" value="Submit Change">
    </form>
  <%}%>
  <p>End date: <%=trip.endDate.toISOString().slice(0,10);%></p>
  <% if (editDate === true){%>
    <form id="edit-end-date-form" action="/trips/edit/<%=trip.id%>" method="post">
      <input id="start-date" type="date" name="endDate" required>
      <input type="submit" value="Submit Change">
    </form>
  <%}%>

</div>

<div>
  <h3>Transport</h3>
<!-- Added fields to input flight data -->
  <h4>Flights</h4>

    Departure City: <%= trip.flights.departureCity %><ul>
      <li>Airport: <%= trip.flights.airport %></li>
      <li>Airline: <%= trip.flights.airline %></li>
      <li>Date: <%= trip.flights.departureCity %></li>
      <li>Departure Time: <%= trip.flights.departureTime %></li>
      <li>Flight number: <%= trip.flights.flightNumber %></li>
      <li>Booking reference: <%= trip.flights.bookingReference %></li>
  </ul>


  <form id="new-flight-form" action="/trips/add-flight/<%=trip.id%>" method="post">
    <label for="departure-city">Departure City </label>
    <input id="departure-city" type="text" name="departureCity" required>
    <label for="airport">Airport: </label>
    <input id="airport" type="text" name="airport" required>
    <label for="airline">Airline: </label>
    <input id="airline" type="text" name="airline" required>
    <label for="date">Date: </label>
    <input id="date" type="date" name="date" required>
    <label for="departure-time">Departure Time: </label>
    <input id="departure-time" type="text" name="departureTime" required>
    <label for="flight-number">Flight number: </label>
    <input id="flight-number" type="text" name="flightNumber" required>
    <label for="booking-reference">Booking reference: </label>
    <input id="booking-reference" type="text" name="bookingReference" required>
    <input type="submit" value="Add Flight">
  </form>
</div>

<div>
  <h3>Accomodation</h3>
</div>

<div>
  <h3>Companions</h3>
  <% trip.companionEmails.forEach((email) => {%>
    <li><%=email%></br>
    </li>
  <%});%>
  <% if (editDate === true){%>
    <form id="add-user-form" action="/trips/add-user/<%=trip.id%>" method="post">
      <input id="companion-email" type="text" name="companionEmails" placeholder="Please add your friend's email">
      <input type="submit" value="Submit Change">
    </form>
  <%}%>
</div>

<form id="edit-button" method="post" action="/trips/edit-data/<%=trip.id%>">
  <input type="submit"  value="Edit Trip">
</form>

<form id="complete-edits-button" method="post" action="/trips/save-edits/<%=trip.id%>">
  <input type="submit"  value="Done">
</form>
<%- include ('../partials/footer.ejs') %>
