<%- include ('../partials/header.ejs') %>
<%- include ('../partials/body.ejs') %>

<img id="header-image" src="https://source.unsplash.com/random/1600x900?<%= trip.destination %>, landscape">

<div>
  <div class='trip-title'>
    <h1><%=username%>'s trip to <%= trip.destination %></h1>
  </div>
  <form class='btn' id="edit-button" action="/trips/itinerary/<%=trip.id%>">
    <input type="submit"  value="View Itinerary">
  </form>
  <% if (editDate !== true){%>
    <form class='btn' id="edit-button" method="post" action="/trips/edit-data/<%=trip.id%>">
      <input type="submit"  value="Edit Trip">
    </form>
  <% } else { %>
    <form class='btn' id="complete-edits-button" method="post" action="/trips/save-edits/<%=trip.id%>">
      <input type="submit"  value="Exit Edit Mode">
    </form>
  <%}%>
</div>



<div id='date-section'>
  <h3>Dates</h3>
  <p>Start date: <%=trip.startDate.toISOString().slice(0,10);%></p>
  <% if (editDate === true){%>
    <form id="edit-start-date-form" action="/trips/edit/<%=trip.id%>" method="post">
      <input class="form-control input_user" id="start-date" type="date" name="startDate" required>
      <input type="submit" value="Submit Change">
    </form>
  <%}%>
  <p>End date: <%=trip.endDate.toISOString().slice(0,10);%></p>
  <% if (editDate === true){%>
    <form id="edit-end-date-form" action="/trips/edit/<%=trip.id%>" method="post">
      <input class="form-control input_user" id="start-date" type="date" name="endDate" required>
      <input type="submit" value="Submit Change">
    </form>
  <%}%>

</div>

<div id='flights-section'>
  <h4>Flights</h4>
<!-- Added fields to input flight data -->
<% var i = -1 %>
  <% trip.flights.forEach((flight) => {%>
    <%i++%>
    <ul>
      Info
      <li>Departure City: <%= flight.departureCity %></li>
      <li>Airport: <%= flight.airport %></li>
      <li>Airline: <%= flight.airline %></li>
      <li>Date: <%= flight.date %></li>
      <li>Departure Time: <%= flight.departureTime %></li>
      <li>Flight number: <%= flight.flightNumber %></li>
      <li>Booking reference: <%= flight.bookingReference %></li>
    </ul>
    <% if (editDate === true){%>
      <form id="delete-flight-form" action="/trips/delete-flight/<%=trip.id%>/<%=i%>" method="post">
        <input type="submit" value="Delete Flight">
      </form>
    <%}%>
  <%});%>


  <% if (editDate === true){%>
  <form id="new-flight-form" action="/trips/add-flight/<%=trip.id%>" method="post">
    <label for="departure-city">Departure City </label>
    <input class="form-control input_user" id="departure-city" type="text" name="departureCity" required>
    <label for="airport">Airport: </label>
    <input class="form-control input_user" id="airport" type="text" name="airport" required>
    <label for="airline">Airline: </label>
    <input class="form-control input_user" id="airline" type="text" name="airline" required>
    <label for="date">Date: </label>
    <input class="form-control input_user" id="date" type="date" name="date" required>
    <label for="departure-time">Departure Time: </label>
    <input class="form-control input_user" id="departure-time" type="text" name="departureTime" required>
    <label for="flight-number">Flight number: </label>
    <input class="form-control input_user" id="flight-number" type="text" name="flightNumber" required>
    <label for="booking-reference">Booking reference: </label>
    <input class="form-control input_user" id="booking-reference-flight" type="text" name="bookingReference" required>
    <input type="submit" value="Add Flight">
  </form>
  <%}%>
</div>


<div id='accommodation-section'>
  <h3>Accommodation</h3>
  <% var i = -1 %>
  <% trip.accommodations.forEach((accommodation) => {%>
    <% i++ %>
    <ul>
      Info
      <li>Location: <%= accommodation.location %></li>
      <li>Start Date: <%= accommodation.startDate %></li>
      <li>End Date: <%= accommodation.endDate%></li>
      <li>Booking reference: <%= accommodation.bookingReference %></li>
    </ul>
    <% if (editDate === true){%>
      <form id="delete-accommodation-form" action="/trips/delete-accommodation/<%=trip.id%>/<%=i%>" method="post">
        <input type="submit" value="Delete Accommodation">
      </form>
    <%}%>
  <%});%>


  <% if (editDate === true){%>
  <form id="new-accommodation-form" action="/trips/add-accommodation/<%=trip.id%>" method="post">
    <label for="location">Location</label>
    <input class="form-control input_user" id="location" type="text" name="location" required>
    <label for="start-date">Arrival Date: </label>
    <input class="form-control input_user" id="start-date-hotel" type="date" name="startDate" required>
    <label for="end-date">Departure Date: </label>
    <input class="form-control input_user" id="end-date-hotel" type="date" name="endDate" required>
    <label for="booking-reference">Booking reference: </label>
    <input class="form-control input_user" id="booking-reference-accommodation" type="text" name="bookingReference" required>
    <input type="submit" value="Add Accommodation">
  </form>
  <%}%>
</div>

<div id='companion-section'>
  <h3>Companions</h3>
  <% trip.companionEmails.forEach((email) => {%>
    <li><%=email%></br>
    </li>
  <%});%>
  <% if (editDate === true){%>
    <form id="add-user-form" action="/trips/add-user/<%=trip.id%>" method="post">
      <input class="form-control input_user" id="companion-email" type="text" name="companionEmails" placeholder="Please add your friend's email">
      <input type="submit" value="Submit Change">
    </form>
  <%}%>
</div>



  <h3 id='message-section'>Messages</h3>
  <div>
  <% trip.chatMessages.forEach((message) => {%>
    <% if (username === message.author){%>
    <p class="message current-user"><%=message.author%> : <%=message.message%> </p> <br>
    <% } else { %>
    <p class="message other-user"><%=message.author%> : <%=message.message%> </p> <br>
  <%}%>
  <%});%>
  </div>
  <br>
  <div>
  <form id="chat-messages" action="/trips/chat/<%=trip.id%>" method="post">
    <input class="form-control input_user" type="text" id="message-id" name="chatMessages" placeholder="Enter message here">
    <input type="submit" value="Enter">
    </form>
    </div>




<%- include ('../partials/footer.ejs') %>
